<div class="navbar" role="navigation">
	<div class="inner">

	<ul id="nav-breadcrumbs" class="nav-breadcrumbs linklist navlinks" role="menubar">
		{% DEFINE MICRODATA = ' itemtype="http://data-vocabulary.org/Breadcrumb" itemscope=""' %}
		{% EVENT overall_header_breadcrumbs_before %}
		<li class="breadcrumbs">
			{% if U_SITE_HOME %}
				<span class="crumb" {{ definition.MICRODATA }}><a href="{{ U_SITE_HOME }}" itemprop="url" data-navbar-reference="home"><i class="icon fa-home fa-fw" aria-hidden="true"></i><span itemprop="title">{{ lang('SITE_HOME') }}</span></a></span>
			{% endif %}
			{% EVENT overall_header_breadcrumb_prepend %}
				<span class="crumb" {{ definition.MICRODATA }}><a href="{{ U_INDEX }}" itemprop="url" accesskey="h" data-navbar-reference="index">{% if not U_SITE_HOME %}<i class="icon fa-home fa-fw"></i>{% endif %}<span itemprop="title">{{ lang('INDEX') }}</span></a></span>

			{% for navlinks in loops.navlinks %}
				{% EVENT overall_header_navlink_prepend %}
				<span class="crumb" {{ definition.MICRODATA }}{% if navlinks.MICRODATA %} {{ navlinks.MICRODATA }}{% endif %}><a href="{{ navlinks.U_VIEW_FORUM }}" itemprop="url"><span itemprop="title">{{ navlinks.FORUM_NAME }}</span></a></span>
				{% EVENT overall_header_navlink_append %}
			{% endfor %}
			{% EVENT overall_header_breadcrumb_append %}
		</li>
		{% EVENT overall_header_breadcrumbs_after %}

		{% if S_DISPLAY_SEARCH and not S_IN_SEARCH %}
			<li class="rightside responsive-search">
				<a href="{{ U_SEARCH }}" title="{{ lang('SEARCH_ADV_EXPLAIN') }}" role="menuitem">
					<i class="icon fa-search fa-fw" aria-hidden="true"></i><span class="sr-only">{{ lang('SEARCH') }}</span>
				</a>
			</li>
		{% endif %}
	</ul>

	</div>
</div>
