.headerbar {
  max-width: $width-headerbar-separate;
  margin: 0 auto;
  background-color: transparent; //$col-headerbar;
  background-image: none;
  padding: 0;

  .inner {
    padding: if($switch-headerbar-style == 'separate', 10px 5px, 0);
  }
}
