// New colours for PM markers
.pmlist li.pm_marked_colour,
.pm_marked_colour {
  border-color: $col-pm-marked;
}

.pmlist li.pm_replied_colour,
.pm_replied_colour {
  border-color: $col-pm-reply;
}

.pmlist li.pm_friend_colour,
.pm_friend_colour {
  border-color: $col-pm-friend;
}

.pmlist li.pm_foe_colour,
.pm_foe_colour {
  border-color: $col-pm-foe;
}
