* {
  box-sizing: border-box;
}


html,
body {
  height: auto;
  min-height: 101%;

  @if $img-bg-html-body == none {
    background: $col-bg-body;
  } @if $img-bg-html-body == texture {
    background-image: bg-image('#{$img-body}');
    background-repeat: repeat;
  } @else {
    background-image: bg-image('#{$img-bg-html-body}');
    background-attachment: fixed;
    background-size: 100% 100%;
  }
}

body {
  padding: 0 0 12px;
}


.wrap {
  @include padding($pad-wrappers $pad-wrappers);
  background-color: $col-bg-wrap;
  box-shadow: $box-shadow-inset-double;
  max-width: $switch-width-wrap;
  margin: 0 auto;
  @if $img-bg-html-body != none {
    @if $switch-col-wrap-off == yes {
      background-color: rgba($col-bg-wrap, 0.5);
    }
  }

  @if $img-bg-wrap != none {
    background-image: bg-image('#{$img-bg-wrap}');
    background-size: cover;
  }
}


.stat-container,
.copyright {
  @include container-base;
  box-shadow: $box-shadow-inset-double;
  color: #000;
  margin: 10px 0 0;
}

.login-container {
  @include container-base;
  background-color: tint($col-base, 75%);
  margin: 0 5px;
}
