//  TODO: This code is sloppy - needs cleaning up ...
//  TODO: Create and assign variables
//
//  Modul containing the CSS in regards to formatting of
//  headerbar & upper menue bar
//
// -----------------------------------------------------------------------------
//  1.  Defining variables
//  2.  Separating headerbar
//  3.  Wrapper for upper menue
//  4.  Menue
//  5.  Logo & Site Description
//  ----------------------------------------------------------------------------

//  1.  variables

//  2.  Controlling the Separation of the Headerbar
//      & Basic Formatting
.headerbar-separate {
  max-width: $width-headerbar-separate;
  margin: 0 auto;
  @if $img-bg-headerbar == none {
    background: transparent;
  } @else {
    background-image: image('#{$img-bg-headerbar}');
  }
}

.headerbar {
  background-color: $col-headerbar;
  padding: 20px 5px 10px 5px;

  & a {
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    color: $col-text-headerbar;
    display: inline;

    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      text-decoration: underline;
      color: #ccc;
    }
  }
}

//  3.  Upper Menue Wrapper
.wrap-menue {
  max-width: $switch-width-wrap;
  margin: 4px auto;

  //  4.  Menue
  & .navbar {
    background-color: #000;
    border: 1px solid #818385;
    border-radius: 0;
    padding: 1px 5px;

    & a {
      font-size: 1.2em;
      border-radius: 2px;
      color: #fff;
      padding: 5px;

      &:hover {
        background-color: #808080;
      }
    }
  }
  @media (max-width: 810) {
    @include padding(null $pad-wrappers null $pad-wrappers);
  }
}

.dropdown {
  .dropdown-contents {
    background-color: #808080;
  }
}

//  5. Logo, Site Description & Search Box
//  Logo
.logo {
  display: none;
}

.logo-container {
  text-align: $switch-logo-position;
  position: relative;
}

.logo-responsive {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

//  Site Description
.site-description {
  @if $switch-show-sitedescription == 'no' {
    display: none;
  } @else {
    text-align: #{$switch-position-sitedescription};
    color: #fff;
    width: 100%;
  }
}

//  Search Box in Header
.absolute {
  position: relative;
}

.search-box-container {
  position: absolute;
  z-index: 9000;
  top: 10px;
  right: 10px;
}

.search-header {
  float: none;
  margin: 0;
}
