// Module Posts
//
// Defining the layout of posts in viewtopic_body.html
//
// Sections:
//  1.  Set back prosilver defaults and transfer to pprofile-container & pbody-container
//      let postprofile & postbody containers float according to configuration
//  2.  Format postprofile & postbody layout depending on separation status
//  3.  Responsiveness
//
//  Required: @function opposite-direction, @mixin post-separation,
//            @mixin post-separation-yes

// Variables:
// $breakpoint: $breakpoint-master;
$breakpoint: '<#{$breakpoint-master}';
$breakpoint-revers: '>=#{$breakpoint-master}';

// Colours
$col-bg1-new: $col-bg;
$col-bg2-new: $col-bg2;

// divers
$container-border-radius: 7px;
$pprofile-container-width: 22%;
$pbody-container-width: (100 - $pprofile-container-width - 2);


// 1. Container definitions
// -----------------------------------------------------------------------------
.pprofile-container {
  display: block;
  float: unquote($switch-postprofile-side);
  width: $pprofile-container-width;
  height: auto;
}

.pbody-container {
  display: block;
  float: opposite-direction(unquote($switch-postprofile-side));
  width: $pbody-container-width;
  height: auto;
}

// 2.  Formatting
// -----------------------------------------------------------------------------

@if $switch-pprofile-separation == no {
  .bg1-new {
    background-color: $col-bg1-new;
  }

  .bg2-new {
    background-color: $col-bg2-new;
  }

  .pm-container,
  .post-container {
    border-radius: $container-border-radius;
  }

  .post-container {
    .pprofile-container,
    .pbody-container {
      .back2top {
        display: none;
      }
    }

    .post {
      box-shadow: $box-shadow-outset-single-posts;
    }

    .postprofile {
      @include postprofile-border($switch-postprofile-side, 1px);
      border-color: $col-base;
    }

    .back2top {
      .top {
        margin-top: -15px;
      }
    }
  }
} @else {
  .post-container {
    .pprofile-container,
    .pbody-container {
      border-radius: $container-border-radius;
      box-shadow: $box-shadow-outset-single-posts;
      padding: 10px;
    }

    .post {
      padding-right: 0;
      padding-left: 0;
    }

    .postbody {
      width: 100%;
    }

    .postprofile {
      border-width: 0;
    }

    .postbody {
      ul {
        &.post-buttons {
          margin-right: 5px;
        }
      }
    }
  }
}


// 3.  Make me responsive ...
// -----------------------------------------------------------------------------
@include media($breakpoint-revers) {
  @include selector-postlayout('b2t');
}

@include media($breakpoint) {
  .pprofile-container,
  .pbody-container {
    width: 100%;
  }

  .pprofile-container {
    @include border-top-radius(7px);
    @include border-bottom-radius(0);
    clear: both;
    overflow: inherit;
    margin-bottom: 1px;
    padding-bottom: 0;
  }

  .pbody-container {
    @include border-top-radius(0);
    @include border-bottom-radius(7px);
    padding-top: 0;
  }

  .has-profile {
    .post-buttons {
      top: 15px;
      right: 30px;
    }
  }

  .postprofile {
    border: 0;
    border-bottom: 1px solid;
    min-height: 0;

    .avatar {
      float: left !important;
      margin: 0 5px 0 0;
    }

    & dt {
      text-align: left !important;
      display: block;
    }

    & dd {
      display: none;
    }

    & img {
      width: auto !important;
      height: auto !important;
      max-height: 32px;
    }
  }

  @if $switch-pprofile-separation == yes {
    .pprofile-container,
    .post {
      & > .back2top {
        display: none;
      }
    }
  }
}
