// Defining coloursets' base-colours
// ----------------------------------------------------------------

$colourset: (
  blue: #0b2958,
  red: #48100c,
  green: #0a3422,
  black: #1b1a1a,
);

$col-base: map-get(($colourset), $switch-col-scheme);

// Enhancing coloursets to create colour schemes
// ----------------------------------------------------------------
