/* stylelint-disable declaration-property-unit-whitelist */


//  TODO: Create and assign variables
//
//  Modul containing the CSS in regards to formatting of
//  headerbar & upper menue bar
//
// -----------------------------------------------------------------------------
//  1.  Defining variables
//  2.  Separating headerbar
//  3.  Wrapper for upper menue
//  4.  Menue
//  5.  Logo & Site Description
//  ----------------------------------------------------------------------------

//  1.  variables
$breakpoint: '<#{$breakpoint-master}';


//  2.  Headerbar
//  2.1 "Classic" display inside #wrap
.headerbar-classic {
  display: if($switch-headerbar-style != 'classic', none, block);

  .headerbar {
    padding-bottom: 10px;
  }
}

//  2.2 Separated display above #wrap
.headerbar-separate {
  display: if($switch-headerbar-style != 'separate', none, block);
  margin-bottom: 5px;
  width: 100%;

  @if $img-bg-headerbar-separate == none {
    background-color: transparent;
  } @else {
    background-image: image('#{$img-bg-headerbar-separate}');
  }

  & a {
    font-size: 1.2em;
    font-weight: 600;
    font-style: italic;
    color: $col-text-headerbar;
    display: inline;

    &:link,
    &:visited {
      text-decoration: none;
      color: inherit;
    }

    &:hover {
      text-decoration: underline;
      color: #ccc;
    }
  }
}

//  3.  Upper Menue Wrapper
.wrap-menue {
  max-width: $switch-width-wrap;
  margin: 0 auto;

  //  4.  Menue
  & .navbar {
    @include media($breakpoint) {
      padding: 0 10px;
    }
    background-color: $black;
    border: 1px solid #818385;
    border-radius: 0;
    margin: 0;
    padding: 1px 5px;

    .inner {
      padding: 3px 0;
    }

    & a {
      font-size: 1.2em;
      border-radius: 2px;
      color: $white;
      padding: 5px;

      &:hover {
        background-color: #808080;
      }
    }
  }
}

.dropdown {
  .dropdown-contents {
    background-color: #808080;
  }
}

//  5. Logo, Site Description & Search Box
//  Logo
.logo {
  display: none;
}

.logo-container {
  text-align: $switch-logo-position;
  position: relative;
}

.logo-responsive {
  @include logo-scaled;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

//  Site Description
.site-description {
  @if $switch-show-sitedescription == 'no' {
    display: none;
  } @else {
    text-align: #{$switch-position-sitedescription};
    color: $white;
    width: 100%;
  }
}

//  Search Box in Header
.relative {
  position: relative;
}

.search-box-container {
  position: absolute;
  z-index: 9000;
  right: 10px;
  bottom: 10px;
}

.search-header {
  float: none;
  margin: 0;
}
