/* stylelint-disable selector-no-qualifying-type */

// ======================================================================
// Common Colours
//---------------------------------------------------------------------------
h1 {
  color: $white;
}

h2 {
  color: $col-ui-super-dark;
}

h3 {
  border-bottom-color: $gray-300;
  color: $col-secondary-dark;
}

hr {
  border-color: $white;
  border-top-color: $gray-300;
}



//
// Jumpbox Colours
//---------------------------------------------------------------------------
.jumpbox .dropdown li { border-top-color: $gray-300; }

.jumpbox-cat-link {
  background-color: $col-primary-dark;
  border-top-color: $col-primary-dark;
  color: $white;

  &:hover,
  &:focus {
    background-color: $col-primary;
    border-top-color: $col-primary;
    color: $white;
  }
}

.jumpbox-forum-link {
  background-color: $col-bg-02;

  &:hover {
    background-color: $col-highlight;
  }
}

.jumpbox-sub-link {
  background-color: $col-bg-02;

  &:hover {
    background-color: $col-bg-light;
  }
}

.jumpbox .dropdown .pointer-inner {
  border-color: $col-bg-02 transparent;
}


//
// Content Block Colours
//---------------------------------------------------------------------------

// Various Panel BG Colours
.bg1 {
  background-color: $col-bg-01;
}

.bg2 {
  background-color: $col-bg-02;
}

.bg3 {
  background-color: $col-bg-03;
}

.wrap {
  background-color: $white;
  border-color: $gray-200;
}

.content {
  color: $gray-900;
}

.panel {
  background-color: $col-bg-04;
  color: $col-ui-super-dark;
}

.content h2,
.panel h2 {
  border-bottom-color: $gray-300;
  color: $col-secondary-dark;
}

.navbar {
  background-color: $col-bg-03;
}


div.rules {
  background-color: $col-accent-hover;
  color: $col-link-hover;
}

p.post-notice {
  background-color: $col-accent-hover;
  background-image: none;
}

// round cornered boxes and backgrounds
.headerbar {
  color: $white;
}

.forabg {
  background-color: $col-primary-dark;
  background-image: linear-gradient(to bottom, $col-primary-light 0%, $col-primary 0.1%, $col-primary-dark 30%, $col-primary-dark 100%);
  background-repeat: repeat-x;
}


//
// Forum & Topic Row Colours
//---------------------------------------------------------------------------

ul.forums {
  background-color: $col-bg-01;
  background-image: linear-gradient(to bottom, darken($col-bg-01, 15%) 0%, $col-bg-01 100%);
}

ul.topiclist li {
  color: $col-ui-dark;
}

ul.topiclist dd {
  border-left-color: $white;
}

.rtl ul.topiclist dd {
  border-right-color: $white;
  border-left-color: transparent;
}

li.row {
  border-top-color: $white;
  border-bottom-color: $col-primary-dark;
}

li.row strong {
  color: $black;
}

li.row:hover {
  background-color: $col-highlight;
}

li.row:hover dd {
  border-left-color: $gray-300;
}

.rtl li.row:hover dd {
  border-right-color: $gray-300;
  border-left-color: transparent;
}

li.header dt,
li.header dd {
  color: $white;
}


//
// Post Colours
//---------------------------------------------------------------------------

// profile
.postprofile {
  border-color: $white;
  color: $gray-700;
}

.pm .postprofile { border-color: $gray-300; }
.postprofile strong { color: $black; }
dd.profile-warnings { color: $col-link-hover; }

// post body styles
.postbody { color: $gray-900; }

.posthilit {
  background-color: $col-link-hover-highlight;
  color: $col-link-hover;
}

// post signature
.signature { border-top-color: $gray-300; }

// post noticies
.notice { border-top-color: $gray-300; }


//
// JS Animation Colours
//---------------------------------------------------------------------------

.phpbb_alert {
  background-color: $white;
  border-color: $gray-500;
}

.alert_close .icon:before { background-color: $white; }
.darken { background-color: $black; }


//
// Notification Colours
//---------------------------------------------------------------------------
.notification_list p.notification-time { color: $col-ui-dark; }

li.notification-reported strong,
li.notification-disapproved strong {
  color: $col-link-hover;
}

.badge {
  background-color: $col-link-hover;
  color: $white;
}


//
// Misc Colours
//---------------------------------------------------------------------------
dl.faq dt { color: $gray-900; }
.copyright { color: $gray-800; }
.error { color: $col-link-hover; }
.reported { background-color: $col-accent-highlight; }
li.reported:hover { background-color: $col-accent-hover !important; }
.sep { color: $col-primary; }

/* stylelint-enable selector-no-qualifying-type */
