//  =========================================================================
//  Colour schemes configuration
//  =========================================================================

//  =========================================================================
//  1.  Import all colour scheme stylesheets
//  2.  Functions & mixins to assign values according to the choosen schemes
//  3.  Assign scheme specific values
//  =========================================================================


//  1.  Import existing scheme stylesheets
//      Add new import rule here
@import 'core/schemes/prosilver';
@import 'core/schemes/standard';
@import 'core/schemes/red';
@import 'core/schemes/green';


//  2.  Functions & mixins
//  2.1  Mapping all colour maps of scheme files
//       Add your declaration here
$colour-maps: (
  prosilver: $prosilver,
  standard:  $standard,
  red:       $red,
  green:     $green,
);

///  2.2  Function to select colours according to selected colour scheme
@function getcolor($element) {
  $scheme:   $switch-col-scheme;
  $selected: map-get(map-get($colour-maps, $scheme), $element);

  @return $selected;
}


// ========================================================================
//  3.  Assign scheme dependent colour values to theme variables
// Primary Colors
$col-primary:       getcolor(primary);
$col-primary-light: getcolor(primary-light);
$col-primary-dark:  getcolor(primary-dark);

// Secondary Colors
$col-secondary:       getcolor(secondary);
$col-secondary-light: getcolor(secondary-light);
$col-secondary-dark:  getcolor(secondary-dark);

// UI Colors
$col-ui:            getcolor(ui);
$col-ui-light:      getcolor(ui-light);
$col-ui-dark:       getcolor(ui-dark);
$col-ui-super-dark: getcolor(ui-super-dark);

// Accent Colors:
$col-accent-light:     getcolor(accent-light);
$col-accent-dark:      getcolor(accent-dark);
$col-accent-hover:     getcolor(accent-hover);
$col-accent-highlight: getcolor(accent-highlight);

// Additioanl UI Vars
$col-links:     getcolor(links) !default;
$col-highlight: getcolor(highlight);
$col-code:      getcolor(code);
$col-bg:        getcolor(bg);
$col-polls:     getcolor(polls);

// Background Colors
$col-bg-01:             getcolor(bg-1);
$col-bg-02:             getcolor(bg-2);
$col-bg-03:             getcolor(bg-3);
$col-bg-04:             getcolor(bg-4);
$col-bg-light:          getcolor(bg-light);
$col-bg-dark:           getcolor(bg-dark);
$col-bg-dark-hover:     getcolor(bg-dark-hover);
$col-bg-body:           getcolor(bg-body);
$col-bg-wrap:           getcolor(bg-wrap);
$col-bg-forumcontainer: getcolor(bg-forumcontainer);

// Link Colors
$col-link:                 getcolor(link);
$col-link-accent:          getcolor(link-accent);
$col-link-hover:           getcolor(link-hover);
$col-link-hover-highlight: getcolor(link-hover-highlight);

$col-link-secondary:                 getcolor(link-secondary);
$col-link-secondary-accent:          getcolor(link-secondary-accent);
$col-link-secondary-hover:           getcolor(link-secondary-hover);
$col-link-secondary-hover-highlight: getcolor(link-secondary-hover-highlight);

// Button Colors
$col-button-border:           getcolor(button-border);
$col-button-box-shadow:       getcolor(button-box-shadow);
$col-button-text-shadow:      getcolor(button-text-shadowy);
$col-button-text:             getcolor(button-text);
$col-button-background:       getcolor(button-background);
$col-button-background-light: getcolor(button-background-light);
$col-button-icon:             getcolor(button-icon);

$col-button-icon-hover:        getcolor(button-icon-hover);
$col-button-border-hover:      getcolor(button-border-hover);
$col-button-text-shadow-hover: getcolor(button-text-shadow-hover);

$col-button-form-text:               getcolor(button-form-text);
$col-button-form-border:             getcolor(button-form-border);
$col-button-form-text-hover:         getcolor(button-form-text-hover);
$col-button-form-border-hover:       getcolor(button-form-border-hover);
$col-button-form-input-border-focus: getcolor(button-form-input-border-focus);
$col-button-form-input-text-focus:   getcolor(button-form-input-text-focus);

// Tab Colors
$col-tab-text:                    getcolor(tab-text);
$col-tab-background:              getcolor(tab-background);
$col-tab-text-hover:              getcolor(tab-text-hover);
$col-tab-background-hover:        getcolor(tab-background-hover);
$col-tab-text-active:             getcolor(tab-text-active);
$col-tab-background-active:       getcolor(tab-background-active);
$col-tab-border-active:           getcolor(tab-border-active);
$col-tab-background-active-light: getcolor(tab-background-active-light);
$col-tab-background-mini:         getcolor(tab-background-mini);
$col-tab-text-mini-active:        getcolor(tab-text-mini-active);
$col-tab-background-mini-active:  getcolor(tab-background-mini-active);

// Poll Colors
$col-poll-bg1: getcolor(poll-bg1);
$col-poll-bg2: getcolor(poll-bg2);
$col-poll-bg3: getcolor(poll-bg3);
$col-poll-bg4: getcolor(poll-bg4);
$col-poll-bg5: getcolor(poll-bg5);

$col-poll-border1: getcolor(poll-border1);
$col-poll-border2: getcolor(poll-border2);
$col-poll-border3: getcolor(poll-border3);
$col-poll-border4: getcolor(poll-border4);
$col-poll-border5: getcolor(poll-border5);

// Highlight colors
$col-blockquote:       getcolor(blockquote);
$col-blockquote-inner: getcolor(blockquote-inner);

// PM Colors
$col-pm-reply:    getcolor(pm-reply);
$col-pm-friend:   getcolor(pm-friend);
$col-pm-reported: getcolor(pm-reported);
$col-pm-marked:   getcolor(pm-marked);
$col-pm-foe:      getcolor(pm-foe);

// Other Unique Colors
$col-loader-blue:   getcolor(loader-blue);
$col-loader-red:    getcolor(loader-red);
$col-loader-yellow: getcolor(loader-yellow);
$col-loader-green:  getcolor(loader-green);
$col-online:        getcolor(online);

// Additional Colours

// ========================================================================


//  ==========================================================================
//  NOTE: Temporary transfer to existing colour variables
//  Subject to change during development!
//  ==========================================================================
$col-base:               $col-primary;
$col-body:               $col-bg-body;                          // Body colour
//$col-wrap:               /*#949ba3*/$gray-300 !default;              // Wrap colour
$switch-opacity-wrap:    0.5 !default;                               // Opacity wrap background colour
// $col-category:           $col-primary-dark !default;      // Category/fora header colourv
$col-navbar:             $col-primary-dark !default;      // Navbar colour
$col-headerbar:          $col-primary-dark !default;                 // Headerbar background colour

$col-forums:             lighten($col-bg-01, 5%) !default;                 // Colour ul.forums
$col-forums-hover:         tint($col-primary-dark, 93%) !default;      // Colour ul.forums hover
$col-bg:                 $col-bg-01;                                 // Colour bg1 & bg3
$col-bg2:                $col-bg-02;                                 // Colour bg2

// Text Colours
$col-text-headerbar:     #fff !default;
$col-text-catfora-title: $white;


// ======================================================================
// Common Colours
//---------------------------------------------------------------------------
h1 {
  color: $white;
}

h2 {
  color: $col-ui-super-dark;
}

h3 {
  border-bottom-color: $gray-300;
  color: $col-secondary-dark;
}

hr {
  border-color: $white;
  border-top-color: $gray-300;
}



// Link Colours
//---------------------------------------------------------------------------

a {
  color: $col-link;

  &:hover {
    color: $col-link-hover;
  }
}

// links on gradient backgrounds
.forumbg .header a,
.forabg .header a,
th a {
  color: $white;
}

.forumbg .header a:hover,
.forabg .header a:hover,
th a:hover {
  color: $col-secondary-light;
}

// post body links
.postlink {
  border-bottom-color: $col-link-secondary;
  color: $col-link-secondary;
}

.postlink:visited {
  border-bottom-color: $col-link-secondary-accent;
  color: $col-link-secondary-accent;
}

.postlink:hover {
  background-color: $col-link-secondary-hover-highlight;
  color: $col-link-secondary-hover;
}

.signature a,
.signature a:hover {
  background-color: transparent;
}

// arrow links
.arrow-left:hover,
.arrow-right:hover {
  color: $col-link-secondary;
}

.post:target .content {
  color: $black;
}

.post:target h3 a {
  color: $black;
}

// horizontal lists
ul.navlinks {
  border-top-color: $white;
}


//
// Icon Colours
//---------------------------------------------------------------------------

.top i {
  color: $gray-500;
}

.icon.icon-blue,
a:hover .icon.icon-blue {
  color: $col-secondary-dark;
}

.icon.icon-green,
a:hover .icon.icon-green {
  color: $col-code;
}

.icon.icon-red,
a:hover .icon.icon-red {
  color: $col-link-hover;
}

.icon.icon-orange,
a:hover .icon.icon-orange {
  color: $col-pm-marked;
}

.icon.icon-bluegray,
a:hover .icon.icon-bluegray {
  color: $col-ui-dark;
}

.icon.icon-gray,
a:hover .icon.icon-gray {
  color: $gray-600;
}

.icon.icon-lightgray,
a:hover .icon.icon-lightgray {
  color: $gray-500;
}

.icon.icon-black,
a:hover .icon.icon-black {
  color: $gray-900;
}


//
// Button Colours
//---------------------------------------------------------------------------
.button {
  border-color: $col-button-border;
  box-shadow: 0 0 0 1px $col-button-box-shadow inset;
  color: $col-button-text;
}

.button:hover,
.button:focus {
  background-image: -webkit-linear-gradient($col-button-background 0%, $col-button-background-light 100%);
  background-image: -o-linear-gradient($col-button-background 0%, $col-button-background-light 100%);
  background-image: linear-gradient($col-button-background 0%, $col-button-background-light 100%);
  border-color: $col-button-border-hover;
  text-shadow: 1px 1px 0 $col-button-text-shadow, -1px -1px 0 $col-button-text-shadow, -1px -1px 0 $col-button-text-shadow-hover;
  color: $col-button-text;
}

.button .icon,
.button-secondary {
  color: $col-button-icon;
}

a.button1,
input.button1, // form
a.button2,
input.button2 { // form-bold
  background-color: $col-button-background-light;
  background-image: linear-gradient(to bottom, $col-button-background 0%, $col-button-background-light 100%);
  border-color: $col-button-form-border;
  color: $col-button-form-text;
}

a.button1:hover,
input.button1:hover, // form
a.button2:hover,
input.button2:hover { // form-bold
  text-shadow: none;
  background-color: $col-button-background;
  background-image: linear-gradient(to bottom, $col-button-background-light 0%, $col-button-background 100%);
  border-color: $col-button-form-border-hover;
  color: $col-button-form-text-hover;
}

input.button1:focus, // form
input.button2:focus { // form-bold
  text-shadow: none;
  border-color: $col-button-form-input-border-focus;
  color: $col-button-form-input-text-focus;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
  color: $col-button-icon-hover;
}

.button-search:hover,
.button-search-end:hover {
  border-color: $col-button-border;
}

.caret { border-color: $gray-400; }
.contact-icons a { border-color: $gray-300; }
.contact-icons a:hover { background-color: $gray-200; }


//
// Jumpbox Colours
//---------------------------------------------------------------------------
.jumpbox .dropdown li { border-top-color: $gray-300; }

.jumpbox-cat-link {
  background-color: $col-primary-dark;
  border-top-color: $col-primary-dark;
  color: $white;
}

.jumpbox-cat-link:hover,
.jumpbox-cat-link:focus {
  background-color: $col-primary;
  border-top-color: $col-primary;
  color: $white;
}

.jumpbox-forum-link {
  background-color: $col-bg-02;
}

.jumpbox-forum-link:hover {
  background-color: $col-highlight;
}

.jumpbox-sub-link {
  background-color: $col-bg-02;
}

.jumpbox-sub-link:hover {
  background-color: $col-bg-light;
}

.jumpbox .dropdown .pointer-inner {
  border-color: $col-bg-02 transparent;
}


//
// Content Block Colours
//---------------------------------------------------------------------------

// Various Panel BG Colours
.bg1 {
  background-color: $col-bg-01;
}

.bg2 {
  background-color: $col-bg-02;
}

.bg3 {
  background-color: $col-bg-03;
}

.wrap {
  background-color: $white;
  border-color: $gray-200;
}

.content {
  color: $gray-900;
}

.panel {
  background-color: $col-bg-04;
  color: $col-ui-super-dark;
}

.content h2,
.panel h2 {
  border-bottom-color: $gray-300;
  color: $col-secondary-dark;
}

.navbar {
  background-color: $col-bg-03;
}

div.rules {
  background-color: $col-accent-hover;
  color: $col-link-hover;
}

p.post-notice {
  background-color: $col-accent-hover;
  background-image: none;
}

// round cornered boxes and backgrounds
.headerbar {
  color: $white;
}

.forabg {
  background-color: $col-primary-dark;
  background-image: linear-gradient(to bottom, $col-primary-light 0%, $col-primary 0.1%, $col-primary-dark 30%, $col-primary-dark 100%);
  background-repeat: repeat-x;
}


//
// Forum & Topic Row Colours
//---------------------------------------------------------------------------

ul.forums {
  background-color: $col-bg-01;
  background-image: linear-gradient(to bottom, darken($col-bg-01, 15%) 0%, $col-bg-01 100%);
}

ul.topiclist li {
  color: $col-ui-dark;
}

ul.topiclist dd {
  border-left-color: $white;
}

.rtl ul.topiclist dd {
  border-right-color: $white;
  border-left-color: transparent;
}

li.row {
  border-top-color: $white;
  border-bottom-color: $col-primary-dark;
}

li.row strong {
  color: $black;
}

li.row:hover {
  background-color: $col-highlight;
}

li.row:hover dd {
  border-left-color: $gray-300;
}

.rtl li.row:hover dd {
  border-right-color: $gray-300;
  border-left-color: transparent;
}

li.header dt,
li.header dd {
  color: $white;
}


//
// Post Colours
//---------------------------------------------------------------------------

// profile
.postprofile {
  border-color: $white;
  color: $gray-700;
}

.pm .postprofile { border-color: $gray-300; }
.postprofile strong { color: $black; }
dd.profile-warnings { color: $col-link-hover; }

// post body styles
.postbody { color: $gray-900; }

.posthilit {
  background-color: $col-link-hover-highlight;
  color: $col-link-hover;
}

// post signature
.signature { border-top-color: $gray-300; }

// post noticies
.notice { border-top-color: $gray-300; }




//
// CP Colours
//---------------------------------------------------------------------------

// main cp box
.panel-container h3,
.panel-container hr,
.cp-menu hr {
  border-color: $col-bg-03;
}

.panel-container .panel li.row {
  border-top-color: $gray-50;
  border-bottom-color: $col-bg-03;
}

ul.cplist { border-top-color: $col-bg-03; }

.panel-container .panel li.header dd,
.panel-container .panel li.header dt {
  color: $black;
}

.panel-container h2 { color: $gray-900; }
.panel-container .panel { background-color: $gray-50; }
.cp-main .pm { background-color: $white; }
.cp-mini { background-color: $col-bg-01; }
dl.mini dt { color: $col-ui-dark; }


//
// Tab Colours
//---------------------------------------------------------------------------

.tabs .tab > a {
  background: $col-tab-background;
  color: $col-tab-text;
}

.tabs .tab > a:hover {
  background: $col-tab-background-hover;
  color: $col-tab-text-hover;
}

// responsive tabs
.responsive-tab .responsive-tab-link:before { border-color: $col-tab-text; }
.responsive-tab .responsive-tab-link:hover:before { border-color: $col-tab-text-hover; }

.tabs .activetab > a,
.tabs .activetab > a:hover {
  background-color: $col-tab-background-active;
  background-image: linear-gradient(to bottom, $col-tab-background-active-light 0%, $col-tab-background-active 100%);
  border-color: $col-tab-border-active;
  box-shadow: 0 1px 1px $col-bg-light inset;
  color: $col-tab-text-active;
}

// mini tabbed menu used in mcp
.minitabs .tab > a { background-color: $col-tab-background-mini; }

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
  background-color: $col-tab-background-mini-active;
  color: $col-tab-text-mini-active;
}


//
// UCP Nav Colours
//---------------------------------------------------------------------------

// link styles for the sub-section links
.navigation a {
  background: $col-tab-background;
  background-image: linear-gradient(to right, desaturate(darken($col-tab-background, 10%), 15%) 50%, $col-tab-background 100%);
  color: $col-tab-text-mini-active;
}

.rtl .navigation a { background-image: linear-gradient(to right, $col-tab-background 50%, desaturate(darken($col-tab-background, 10%), 15%) 100%); }

.navigation a:hover {
  background: desaturate(darken($col-tab-background, 10%), 15%);
  color: $col-tab-text-hover;
}

.navigation .active-subsection a {
  background: $col-tab-background-mini-active;
  color: $col-tab-text-hover;
}

.navigation .active-subsection a:hover { color: $col-tab-text-hover; }

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
  .navigation a,
  .rtl .navigation a {
    background: desaturate(darken($col-tab-background, 10%), 15%);
  }
}


//
// PM Colours
//---------------------------------------------------------------------------

// pm message history
.current { color: $black !important; }

// pm marking colours
.pmlist li.pm_message_reported_colour,
.pm_message_reported_colour {
  border-right-color: $col-pm-reported;
  border-left-color: $col-pm-reported;
}

.pmlist li.pm_marked_colour,
.pm_marked_colour {
  border-color: $col-pm-marked;
}

.pmlist li.pm_replied_colour,
.pm_replied_colour {
  border-color: $col-pm-reply;
}

.pmlist li.pm_friend_colour,
.pm_friend_colour {
  border-color: $col-pm-friend;
}

.pmlist li.pm_foe_colour,
.pm_foe_colour {
  border-color: $col-pm-foe;
}


//
// Avatar Gallery Colours
//---------------------------------------------------------------------------

.gallery label {
  background: $white;
  border-color: $gray-300;
}

.gallery label:hover { background-color: $gray-200; }


//
// Table Colours
//---------------------------------------------------------------------------

table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
  background-color: $col-bg-01;
}

table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
  background-color: $col-bg-02;
}
table.table1 thead th { color: $white; }
table.table1 tbody tr { border-color: $col-bg-03; }

table.table1 tbody tr:hover,
table.table1 tbody tr.hover {
  background-color: $col-link-secondary-hover-highlight;
  color: $black;
}

table.table1 tbody th {
  background-color: $white;
  border-bottom-color: $black;
  color: $gray-900;
}

table.info tbody th { color: $black; }
table.table1 td { color: $col-ui-dark; }
table.table1 tbody td { border-top-color: $gray-50; }

.panel-container table.table1 thead th {
  border-bottom-color: $gray-900;
  color: $gray-900;
}


//
// Form Colours
//---------------------------------------------------------------------------

// general form styles
select {
  background-color: $gray-50;
  border-color: $gray-700;
  color: $black;
}

label { color: $col-ui-dark; }

// definition list layout for forms
dd label { color: $gray-900; }
fieldset.fields1 { background-color: transparent; }

// hover effects
fieldset dl:hover dt label { color: $black; }
fieldset.fields2 dl:hover dt label { color: inherit; }

// Quick-login on index page
fieldset.quick-login input.inputbox { background-color: $gray-100; }

// misc layout styles
dl.details dt { color: $black; }
dl.details dd { color: $col-ui-dark; }

// posting page styles
.message-box textarea { color: $gray-900; }
.message-box textarea.drag-n-drop { outline-color: rgba($gray-700, 0.5); }
.message-box textarea.drag-n-drop-highlight { outline-color: rgba($col-primary, 0.5); }

// input field styles
.inputbox {
  background-color: $white;
  border-color: $gray-400;
  color: $gray-900;
}

.inputbox:-moz-placeholder,
.inputbox::-webkit-input-placeholder {
  color: $gray-900;
}

.inputbox:hover,
.inputbox:focus {
  border-color: $col-primary;
}

.inputbox:focus:-moz-placeholder,
.inputbox:focus::-webkit-input-placeholder {
  color: transparent;
}

input.disabled { color: $gray-600; }
option.disabled-option { color: $gray-600; }


//
// JS Animation Colours
//---------------------------------------------------------------------------

.phpbb_alert {
  background-color: $white;
  border-color: $gray-500;
}

.alert_close .icon:before { background-color: $white; }
.darken { background-color: $black; }

//
// Dropdowns Colours
//---------------------------------------------------------------------------
.dropdown-extended a.mark_read { background-color: $white; }
.dropdown-extended ul li { border-top-color: $gray-400; }

.dropdown-extended ul li:hover {
  background-color: $col-link-secondary-hover-highlight;
  color: $black;
}

.dropdown-extended .header,
.dropdown-extended .footer {
  border-color: $gray-400;
  color: $black;
}

.dropdown-extended .footer {
  border-top-width: 1px;
  border-top-style: solid;
}

.dropdown-extended .header {
  background-color: $col-bg-light;
  background-image: linear-gradient(to bottom, $col-bg-light 0%, $col-bg-03 100%);
}

.dropdown .pointer { border-color: $gray-400 transparent; }
.dropdown .pointer-inner { border-color: $white transparent; }
.dropdown-extended .pointer-inner { border-color: $col-bg-light transparent; }

.dropdown .dropdown-contents {
  background: $white;
  border-color: $gray-400;
  box-shadow: 1px 3px 5px rgba($black, 0.2);
}

.dropdown-up .dropdown-contents { box-shadow: 1px 0 5px rgba($black, 0.2); }

.dropdown li,
.dropdown li li {
  border-color: $gray-300;
}

.dropdown li.separator { border-color: $gray-300; }


//
// Notification Colours
//---------------------------------------------------------------------------
.notification_list p.notification-time { color: $col-ui-dark; }

li.notification-reported strong,
li.notification-disapproved strong {
  color: $col-link-hover;
}

.badge {
  background-color: $col-link-hover;
  color: $white;
}


//
// Misc Colours
//---------------------------------------------------------------------------
dl.faq dt { color: $gray-900; }
.copyright { color: $gray-800; }
.error { color: $col-link-hover; }
.reported { background-color: $col-accent-highlight; }
li.reported:hover { background-color: $col-accent-hover !important; }
.sep { color: $col-primary; }
