/*  Custom configuration file
 *  -------------------------------------------------------------------- */

$width_wrap:                                1152px;         // Any size as longs as the unit is "px"

$col_scheme:                                0;              // Board colour scheme; 0 = blue, 1 = red, 2 = green, 3 = black

$define-postprofile-side:                   0;              // 0 = postprofile right side, 1 = postprofile left side

$width-postprofile:                         240px;
