/* Form Styles
---------------------------------------- */

/* General form styles
----------------------------------------*/

fieldset {
  border-width: 0;
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 1.1em;
}

input {
  font-weight: normal;
  vertical-align: middle;
  padding: 0 3px;
  font-size: 1em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

select {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-weight: normal;
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 1px;
  font-size: 1em;
  &:focus {
    outline-style: none;
  }
}

option {
  padding-right: 1em;
}

select optgroup option {
  padding-right: 1em;
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

textarea {
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  width: 60%;
  padding: 2px;
  font-size: 1em;
  line-height: 1.4em;
}

label {
  cursor: default;
  padding-right: 5px;
  input, img {
    vertical-align: middle;
  }
}

/* Definition list layout for forms
---------------------------------------- */

fieldset {
  dl {
    padding: 4px 0;
  }
  dt {
    float: left;
    width: 40%;
    text-align: left;
    display: block;
  }
  dd {
    margin-left: 41%;
    vertical-align: top;
    margin-bottom: 3px;
  }
  &.fields1 {
    dt {
      width: 15em;
      border-right-width: 0;
    }
    dd {
      margin-left: 15em;
      border-left-width: 0;
    }
    div {
      margin-bottom: 3px;
    }
    .live-search div {
      margin-bottom: 0;
    }
  }
  &.fields2 {
    dt {
      width: 15em;
      border-right-width: 0;
    }
    dd {
      margin-left: 16em;
      border-left-width: 0;
    }
  }
}

/* Specific layout 1 */

/* Set it back to 0px for the reCaptcha divs: PHPBB3-9587 */

/* Specific layout 2 */

/* Form elements */

dt label {
  font-weight: bold;
  text-align: left;
}

dd {
  label {
    white-space: nowrap;
  }
  input, textarea {
    margin-right: 3px;
  }
  select {
    width: auto;
    &[multiple] {
      width: 100%;
    }
  }
  textarea {
    width: 85%;
  }
}

/* Hover effects */

.timezone {
  width: 95%;
}

/* Browser-specific tweaks */

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* Quick-login on index page */

fieldset {
  &.quick-login {
    margin-top: 5px;
    input {
      width: auto;
      &.inputbox {
        width: 15%;
        vertical-align: middle;
        margin-right: 5px;
      }
    }
    label {
      white-space: nowrap;
      padding-right: 2px;
    }
  }
  &.display-options {
    text-align: center;
    margin: 3px 0 5px 0;
    label {
      white-space: nowrap;
      padding-right: 2px;
    }
    a {
      margin-top: 3px;
    }
  }
}

/* Display options on viewtopic/viewforum pages  */

.dropdown fieldset.display-options {
  font-size: 1em;
  margin: 0;
  padding: 0;
  label {
    display: block;
    margin: 4px;
    padding: 0;
    text-align: right;
    white-space: nowrap;
  }
  select {
    min-width: 120px;
  }
}

/* Display actions for ucp and mcp pages */

fieldset {
  &.display-actions {
    text-align: right;
    line-height: 2em;
    white-space: nowrap;
    padding-right: 1em;
    label {
      white-space: nowrap;
      padding-right: 2px;
    }
  }
  &.sort-options {
    line-height: 2em;
  }
  &.forum-selection {
    margin: 5px 0 3px 0;
    float: right;
  }
  &.forum-selection2 {
    margin: 13px 0 3px 0;
    float: right;
  }
  &.submit-buttons {
    text-align: center;
    vertical-align: middle;
    margin: 5px 0;
    input {
      vertical-align: middle;
    }
  }
}

/* MCP forum selection*/

/* Submit button fieldset */

/* Posting page styles
----------------------------------------*/

/* Buttons used in the editor */

.format-buttons {
  margin: 15px 0 2px 0;
  input, select {
    vertical-align: middle;
  }
}

/* Main message box */

.message-box {
  width: 80%;
  textarea {
    font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    width: 450px;
    height: 270px;
    min-width: 100%;
    max-width: 100%;
    font-size: 1.2em;
    resize: vertical;
    outline: 3px dashed transparent;
    outline-offset: -4px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -ms-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
  }
}

/* Emoticons panel */

.smiley-box {
  width: 18%;
  float: right;
  img {
    margin: 3px;
  }
}

/* Input field styles
---------------------------------------- */

.inputbox {
  border: 1px solid transparent;
  padding: 2px;
  &:hover, &:focus {
    border: 1px solid transparent;
    outline-style: none;
  }
}

input {
  &.inputbox {
    width: 85%;
  }
  &.medium {
    width: 50%;
  }
  &.narrow {
    width: 25%;
  }
  &.tiny {
    width: 150px;
  }
}

textarea.inputbox {
  width: 85%;
}

.autowidth {
  width: auto !important;
}

input {
  &[type="number"] {
    -moz-padding-end: inherit;
  }
  &[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    &::-webkit-search-decoration, &::-webkit-search-results-button, &::-webkit-search-results-decoration {
      display: none;
    }
    &::-webkit-search-cancel-button {
      cursor: pointer;
    }
  }
  &.button1, &.button2 {
    font-size: 1em;
  }
}

/* Form button styles
---------------------------------------- */

a.button1 {
  width: auto !important;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  background: transparent none repeat-x top left;
  line-height: 1.5;
}

input {
  &.button1, &.button3 {
    width: auto !important;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
    background: transparent none repeat-x top left;
    line-height: 1.5;
  }
}

a.button2, input.button2 {
  width: auto !important;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
  background: transparent none repeat-x top left;
  line-height: 1.5;
}

a.button1 {
  font-weight: bold;
  border: 1px solid transparent;
}

input {
  &.button1 {
    font-weight: bold;
    border: 1px solid transparent;
  }
  &.button3 {
    padding: 0;
    margin: 0;
    line-height: 5px;
    height: 12px;
    background-image: none;
    font-variant: small-caps;
  }
  &[type="button"], &[type="submit"], &[type="reset"], &[type="checkbox"], &[type="radio"] {
    cursor: pointer;
  }
}

/* Alternative button */

a.button2 {
  border: 1px solid transparent;
}

input {
  &.button2, &.button3 {
    border: 1px solid transparent;
  }
}

/* <a> button in the style of the form buttons */

a {
  &.button1, &.button2 {
    text-decoration: none;
    padding: 0 3px;
    vertical-align: text-bottom;
  }
  &.button1:hover {
    border: 1px solid transparent;
  }
}

/* Hover states */

input.button1:hover, a.button2:hover {
  border: 1px solid transparent;
}

input {
  &.button2:hover, &.button3:hover {
    border: 1px solid transparent;
  }
  &.disabled {
    font-weight: normal;
  }
  &.button1:focus, &.button2:focus, &.button3:focus {
    outline-style: none;
  }
}

/* Focus states */

/* Topic and forum Search */

.search-box {
  float: left;
  .inputbox {
    background-image: none;
    border-right-width: 0;
    border-radius: 4px 0 0 4px;
    float: left;
    height: 24px;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

/* Search box (header)
--------------------------------------------- */

.search-header {
  border-radius: 4px;
  display: block;
  float: right;
  margin-right: 5px;
  margin-top: 30px;
  .inputbox {
    border: 0;
  }
}

.navbar .linklist > li.responsive-search {
  display: none;
}

input.search {
  background-image: none;
  background-repeat: no-repeat;
  background-position: left 1px;
  padding-left: 17px;
}

.full {
  width: 95%;
}

.medium {
  width: 50%;
}

.narrow {
  width: 25%;
}

.tiny {
  width: 10%;
}