//  Stylespecific CSS SassySilver
//
//  1. Stylewide overwrites of the original prosilver classes
//    a. common.css
//    b. colours.css
//    c. utilities.css
//
//  2. Additional classes, not included in prosilver
//    a. "Special" selectors / pseudo selectors
//


//  1.a => common.css
// *****************************************************************************
.linklist {
  &.compact {
    .rightside > a > span span {
      display: none;
    }
  }
}


//  1.b => colours.css
// *****************************************************************************
.navlinks {
  @include qualify(ul) {
    border-top: 0;
  }
}

.bg1,
.bg3 {
  background-color: $col-bg;
}

.bg2 {
  background-color: $col-bg2;
}


//  1.c => utilities.css
// *****************************************************************************
.divider {
  @include qualify(hr) {
    border-top-width: 3px;
    border-top-color: #ccc;
    display: block;
    margin: 5px 0 10px;
  }
}


//  2.a. => Special selectors
// ***********************************************************

%no-bg-colour {
  background-color: none;
}

// TODO: Implement sidebar?
//// Sidebar
// Sidebar - controlled via configfile
// ***********************************************************
// .sidebar {
//   background-color: $col-forums;
//   display: block;
//   float: right;
//   width: $width-sidebar;
//   height: auto;
//   min-height: 100px;
// }

// Post overhaul


// Diverse new spacings
// ***********************************************************
.action-bar {
  margin: 6px 0 10px;

  .rightside {
    a {
      @include action-bar-elements;
    }
  }

  & .jumpbox-return {
    @include action-bar-elements;
  }

  & .pagination {
    @include action-bar-elements;

    & > a {
      padding: 5px 0;
    }
  }
}

.page-footer,
.page-header {
  & .navbar {
    box-shadow: $box-shadow-inset-double;
    padding: 5px 10px;
  }
}

.topiclist {
  @include qualify(ul) {
    color: inherit;
  }

  & li {
    &:first-child {
      @include border-top-radius(5px);
      border-top-color: transparent;
    }

    &:last-child {
      @include border-bottom-radius(5px);
      border-bottom-color: transparent;
    }
  }
}

// Enclosing statistic blocks in stat-container
// ***********************************************************

.stat-container {
  margin-top: 15px;

  & .stat-block {
    @include container-base;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-radius: 0;

    &:last-child {
      margin-bottom: 5px;
    }
  }

  & h3,
  & p {
    margin: 0;
  }
}

.headerspace {
  h3 {
    margin: 0;
  }
}


// postbody, postprofile, mini-profile
// ***********************************************************
// Posts
// ***********************************************************
.post {
  margin-bottom: 10px;
}

.panel {
  box-shadow: $box-shadow-inset-double;
  padding: 7px 12px;
}


//  NOTE: mini profile width restriction - laid aside

// @media all and (min-width: 1100px) {
//   .postprofile,
//   .search .postprofile {
//     width: $switch-width-postprofile;
//   }
//
//   .postbody,
//   .search .postbody {
//   width: auto;
//   }
// }


// Refactoring postprofile & postbody - end
// ---------------------------------------------------------------------------


// Layout mini-profile
// ***********************************************************
.postprofile {
  dd,
  dt {
    margin: 0 8px;
  }

  dt {
    text-align: center;
  }

  .avatar {
    border-radius: 5px;
    display: inline-block;
    float: none;
  }

  & img {
    border-radius: 5px;
  }

  a {
    &.avatar {
      background-color: #ededed;
      border: 1px solid $black;
      padding: 3px;
    }
  }
}



// ***********************************************************
// Diverse
// ***********************************************************
