/*  Additional code, not included in original prosilver */

/* Provides the code changes required to separate the menue part of navbar_header via configfile  */
html, body {
  min-height: 101%;
  height: auto;
  background: -webkit-linear-gradient(to bottom, $col_headerbar 250px, $col_body 60%);
  background: -o-linear-gradient(to bottom, $col_headerbar 250px, $col_body 60%);
  background: linear-gradient(to bottom, $col_headerbar 250px, $col_body 60%);
}

#wrap {
    box-shadow: $box-shadow-inset-double;
}

.wrap-headerbar {
    display: block;
    margin: 0 auto;
    max-width: $width_headerbar_separate;
    background-color: $col_headerbar;
    padding: 10px 0;
}

.wrap-menue {
    max-width: $width_menuebar;
    margin: 2px auto;
}


.headerbar-separate {
    background-color: $col_headerbar;
    padding: 30px 5px 10px;
}


/* Sidebar - controlled via configfile */
.sidebar {
    display: block;
    float: right;
    width: $width-sidebar;
    min-height: 100px;
    height: auto;
    background-color: $col_forums;
}

// Post overhaul
// postprofile & postbody
@media (min-width: 1100px) {
  .postprofile {
    width: $width-postprofile;
  }

  .postbody {
    width: ($width_wrap - 40px - $width-postprofile) !important;
  }
}

// Posts
.post {
    box-shadow: $box-shadow-outset-single-posts;
    margin-bottom: 10px;
}

.panel {
    box-shadow: $box-shadow-inset-double;
    padding: 7px 12px;
}

// Diverse new spacings
.action-bar {
    margin: 6px 0 10px;
}

.page-footer, #page-header {
    & .navbar {
        padding: 5px 10px;
        box-shadow: $box-shadow-inset-double;
    }
}

/* New forabg/forumbg design */

.forabg, .forumbg, .stat-container {
    @include forum_container;
}

ul.forums {
    border-radius: 5px;
}

ul.topiclist li {
    &:first-child {
        @include border-top-radius(5px);
    }
    &:last-child {
        @include border-bottom-radius(5px);
    }
}

/* Enclosing statistic blocks in stat-container */

#login-container {
    @include container_base;
    margin: 0 5px;
    background-color: tint(green, 75%);
}

.stat-container {
    margin-top: 15px;
    & .stat-block {
        @include container_base;
            &:first-child {
                margin-top: 15px;
            }
            &:last-child {
                margin-bottom: 15px;
            }
    }
    & h3, & p {
        margin: 0;
    }
}


.headerspace, .headerspace h3 {
    margin: 0;
}



/* -------------------------------------------------
 * Overrides, Mixins and other stuff ...
  * ------------------------------------------------- */

/* Switches postprofile/postbody right<->left */
@if $define-postprofile-side == right {
    .postprofile {
        border-width: 0 0 0 1px;
        float: right;
           & dd, dt {
            margin-left: 8px;
            }
    }

    .postbody {
        float: left;
    }
}

@if $define-postprofile-side == left {
    .postprofile {
        border-width: 0 1px 0 0;
        float: left;
            & dd, dl {
            margin-right: 8px;
            }
    }

    .postbody {
        float: right;
    }
}

