/*  --------------------------------------------------------------------
 *  Central configuration file - DO NOT CHANGE !
 *  Copy the code you want to change and paste it into _custom_configurations.scss
 *  and do your edits there.
 *  -------------------------------------------------------------------- */

// Layout switches

$define-postprofile-side:                   0 !default;              // Displays postprofile left or right: 0 = on right side, 1 = on left side



// Dimensions

$width_wrap:                                1152px !default;                // Board width
$width_headerbar_separate:                  $width_wrap + 30px !default;    // Width of the headerbar if set to diplay separately
$width_menuebar:                            $width_wrap + 30px !default;    // Width of menuebar when displayed separately
$width-sidebar:                             180px !default;                 // Width of sidebar

$width-postprofile:                         240px !default;                 // Width of postprofile - please choose carefully


//  Colours - general colour scheme. Do NOT change!

$col_scheme:                                0 !default; // Board colour scheme; 0 = blue, 1 = red, 2 = green, 3 = black


// Colour mapping for colour schemes

$col_base:                                  map_get((0: #0B2958, 1: #48100C, 2: #0A3422, 3: #1b1a1a), $col_scheme) !default;    // Base colours for colour schemes the following colours will derive from

// Background Colours
$col_body:                                  tint($col_base, 10%) !default;                                                      // Body colour
$col_wrap:                                  tint($col_base, 100%) !default;                                                      // Wrap colour
$col_category:                              shade($col_base, 2%) !default;                                                      // Category/fora header colourv
$col_navbar:                                tint($col_base, 75%) !default;                                                      // Navbar colour
$col_headerbar:                             shade($col_base, 25%) !default;                                                     // Headerbar background colour

$col_forums:                                tint($col_base, 85%) !default;                                                      // Colour ul.forums
$col_forums_hov:                            tint($col_base, 93%) !default;                                                      // Colour ul.forums hover
$col_bg:                                    tint($col_base, 89%) !default;                                                      // Colour bg1 bg3
$col_bg2:                                   tint($col_base, 95%) !default;                                                      // Colour bg2
$col_panel:                                 tint($col_base, 86%) !default;                                                      // Colour panel
$col_quote_in_out:                          tint($col_base, 75%) !default;                                                      // Colour qoute Inside and Outside
$col_quote_center:                          tint($col_base, 82%) !default;                                                      // Colour qoute center
$col_ucp_menue:                             tint($col_base, 70%) !default;                                                      // UCP Menü
$col_ucp_menue_a_h:                         tint($col_base, 80%) !default;                                                      // UCP Menü Aktiv, hover
$col_ucp_menue_a_h_2:                       tint($col_base, 25%) !default;                                                      // UCP Menü Aktiv, hover 
$col_ucp_menue_left:                        tint($col_base, 65%) !default;                                                      // UCP Menü left
$col_ucp_menue_left-low:                    tint($col_base, 80%) !default;                                                      // UCP Menü left-low

// Text Colours
$col_text_body:                             shade($col_base, 3%) !default;                                                      // Body Text colour
$col_text_white:                            tint($col_base, 100%) !default;                                                     // all Text White #ffffff


// Border Colours
$col_border_white:                          tint($col_base, 100%) !default;                                                     // border White #ffffff


// Font colours

$col_links:                                 shade($col_base, 1%) !default;                                                     // Links



// Calculations

// postprofile & postbody

@media all and (min-width: 1100px) {
  .postprofile {
    width: $width-postprofile;
  }

  .postbody {
    width: ($width_wrap - 20px - $width-postprofile);
  }
}

// headerbar & menuebar width responsive
.extra-wrapper-width {
@each $media_width, $hb_width in (325px, 310px),
                                    (485px, 470px),
                                    (605px, 590px),
                                    (770px, 758px),
                                    (805px, 790px),
                                    (1030px, 1014px),
                                    (1370px, 1356px),
                                    (1605px, 1590px) {
    @media (max-width: #{$media_width}) {
      .wrap-headerbar &, .wrap-menue & {
        max-width: #{$hb_width} !important;
      }
    }
  }
}




/* ---------------------------------------------------------------
 * Mixins and other stuff exept for functions and calculations
 * --------------------------------------------------------------- */

/* Switches postprofile/postbody right<->left */
@mixin postprofile_side {
  @if $define-postprofile-side == 0 {
    border-width: 0 0 0 1px;
    float: right;
      & dd, dt {
        margin-left: 8px;
      }

  }

  @if $define-postprofile-side == 1 {
    .postprofile {
      border-width: 0 1px 0 0;
      float: left;
        & dd, dl {
          margin-right: 8px;
        }
    }
  }
}

@mixin postbody_side {
  @if $define-postprofile-side == 0 {
    .postbody {
      float: left;
    }
  }

  @if $define-postprofile-side == 1 {
    .postbody {
      float: right;
    }
  }
}
