/* -----------------------------------------------------------------
Overrides to the original prosilver classes
listed by file name
-------------------------------------------------------------------- */

/* common.css */
body {
    padding: 12px 0;
}

h1 {
    font-size: $font-size-h1;
}

h2 {
    font-size: $font-size-h2;
}

h3 {
    font-size: $font-size-h3;
}

h4 {
    font-size: $font-size-h4;
}

p {
    font-size: $font-size-p;
}

.wrap {
    max-width: $switch-width-wrap;
}

ul.linklist > li {
    font-size: $font-size-p;
}

table {
    &.table1 {
        thead th {
            font-size: $font-size-th;
        }

        td {
            font-size: $font-size-td;
        }
    }
}

dl.details {
    font-size: $font-size-dl;
}

fieldset.fields1 {
    ul.recipients input.button2 {
        font-size: $font-size-fieldset;
    }
}

.phpbb_alert div.alert_text > p,
.phpbb_alert div.alert_text > label,
.phpbb_alert div.alert_text > select,
.phpbb_alert div.alert_text > textarea,
.phpbb_alert div.alert_text > input {
	font-size: $font-size-p;
}

.error {
  font-size: $font-size-error;
}

div.rules {
    font-size: $font-size-rules;
}

.member-search {
  strong {
    font-size: $font-size-membersearch;
  }
}

.dropdown-extended {
    ul li {
        font-size: $font-size-dropdown-li;
    }

    .footer {
	       font-size: $font-size-dropdown-footer;
       }
}

.notification_list {
    ul li {
        p {
            font-size: $font-size-notific-p;
        }
    }

    p.notification-time {
        font-size: $font-size-notific-time;
    }

    p {
        &.notifications_title {
            font-size: $font-size-notific-title !important;
        }

        &.notifications_time {
            font-size: $font-size-notific-time !important;
        }
    }

}

.linklist {
  &.compact .rightside > a > span span {
    display: none;
  }
}


/* content.css */
ul.topiclist dt {
	font-size: $font-size-topiclist-dl;
}

li.header dt, li.header dd {
	font-size: $font-size-li-header;
}

dd {
  &.posts, &.topics, &.views, &.extra, &.mark {
    font-size: $font-size-dd;
  }
}

/* colours.css */
ul.navlinks {
    border-top: none;
}

.headerbar, .forumbg {
    background-image: none;
}

.wrap {
    background-color: $col_wrap;
}
