/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			SassySilver
	Based on style:     prosilver (the default phpBB 3.1.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Melmac
    --------------------------------------------------------------
*/
/*  Custom configuration file
 *  -------------------------------------------------------------------- */
/*  --------------------------------------------------------------------
 *  Central configuration file - DO NOT CHANGE !
 *  Copy the code you want to change and paste it into _custom_configurations.scss
 *  and do your edits there.
 *  -------------------------------------------------------------------- */
@import url("../../prosilver/theme/stylesheet.css");
@media (max-width: 325px) {
  .wrap-headerbar .extra-wrapper-width, .wrap-menue .extra-wrapper-width {
    max-width: 310px !important;
  }
}

@media (max-width: 485px) {
  .wrap-headerbar .extra-wrapper-width, .wrap-menue .extra-wrapper-width {
    max-width: 470px !important;
  }
}

@media (max-width: 605px) {
  .wrap-headerbar .extra-wrapper-width, .wrap-menue .extra-wrapper-width {
    max-width: 590px !important;
  }
}

@media (max-width: 770px) {
  .wrap-headerbar .extra-wrapper-width, .wrap-menue .extra-wrapper-width {
    max-width: 758px !important;
  }
}

@media (max-width: 805px) {
  .wrap-headerbar .extra-wrapper-width, .wrap-menue .extra-wrapper-width {
    max-width: 790px !important;
  }
}

@media (max-width: 1030px) {
  .wrap-headerbar .extra-wrapper-width, .wrap-menue .extra-wrapper-width {
    max-width: 1014px !important;
  }
}

@media (max-width: 1370px) {
  .wrap-headerbar .extra-wrapper-width, .wrap-menue .extra-wrapper-width {
    max-width: 1356px !important;
  }
}

@media (max-width: 1605px) {
  .wrap-headerbar .extra-wrapper-width, .wrap-menue .extra-wrapper-width {
    max-width: 1590px !important;
  }
}

/* ---------------------------------------------------------------
 * Mixins and other stuff exept for functions and calculations
 * --------------------------------------------------------------- */
/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			SassySilver
	Based on style:     prosilver (the default phpBB 3.1.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		Melmac
    --------------------------------------------------------------
*/
/* -----------------------------------------------------------------
Overrides to the original prosilver classes
listed by file name
-------------------------------------------------------------------- */
/* common.css */
body {
  padding: 12px 0;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.05em;
}

h4 {
  font-size: 1.3em;
}

p {
  font-size: 1.1em;
}

.wrap {
  max-width: 1152px;
}

ul.linklist > li {
  font-size: 1.1em;
}

table.table1 thead th {
  font-size: 1em;
}

table.table1 td {
  font-size: 1.1em;
}

dl.details {
  font-size: 1.1em;
}

fieldset.fields1 ul.recipients input.button2 {
  font-size: 0.8em;
}

.phpbb_alert div.alert_text > p,
.phpbb_alert div.alert_text > label,
.phpbb_alert div.alert_text > select,
.phpbb_alert div.alert_text > textarea,
.phpbb_alert div.alert_text > input {
  font-size: 1.1em;
}

.error {
  font-size: 1em;
}

div.rules {
  font-size: 1.1em;
}

.member-search strong {
  font-size: 0.95em;
}

.dropdown-extended ul li {
  font-size: 0.95em;
}

.dropdown-extended .footer {
  font-size: 1.1em;
}

.notification_list ul li p {
  font-size: 1em;
}

.notification_list p.notification-time {
  font-size: 0.9em;
}

.notification_list p.notifications_title {
  font-size: 1.2em !important;
}

.notification_list p.notifications_time {
  font-size: 0.9em !important;
}

.linklist.compact .rightside > a > span span {
  display: none;
}

/* content.css */
ul.topiclist dt {
  font-size: 1.1em;
}

li.header dt, li.header dd {
  font-size: 1em;
}

dd.posts, dd.topics, dd.views, dd.extra, dd.mark {
  font-size: 1.2em;
}

/* colours.css */
ul.navlinks {
  border-top: none;
}

.headerbar, .forumbg {
  background-image: none;
}

.wrap {
  background-color: #949BA3;
}

/*  Additional code, not included in original prosilver */
/* Provides the code changes required to separate the menue part of navbar_header via configfile  */
html, body {
  min-height: 101%;
  height: auto;
  background-color: #233e69;
  background: -webkit-linear-gradient(to bottom, #081f42 250px, #233e69 60%);
  background: -o-linear-gradient(to bottom, #081f42 250px, #233e69 60%);
  background: -webkit-linear-gradient(top, #081f42 250px, #233e69 60%);
  background: -o-linear-gradient(top, #081f42 250px, #233e69 60%);
  background: linear-gradient(to bottom, #081f42 250px, #233e69 60%);
}

#wrap {
  -webkit-box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.75), inset -3px -3px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.75), inset -3px -3px 7px -2px rgba(0, 0, 0, 0.75);
}

.headerbar-separate {
  max-width: 1182px;
  margin: 0 auto;
  background: transparent;
}

.site-description {
  color: #FFFFFF;
}

.wrap-menue {
  max-width: 1182px;
  margin: 4px auto;
}

.wrap-menue .navbar {
  padding: 1px 5px;
  background-color: #000000;
  border: 1px solid #818385;
  border-radius: 0;
}

.wrap-menue .navbar a {
  color: #FFFFFF;
  font-size: 1.2em;
  padding: 5px;
  border-radius: 2px;
}

.wrap-menue .navbar a:hover {
  background-color: grey;
}

.dropdown .dropdown-contents {
  background-color: grey;
}

.headerbar {
  background-color: #081f42;
}

.headerbar a {
  color: #FFFFFF;
  font-style: italic;
  font-weight: 600;
  font-size: 1.1em;
}

.headerbar a:link, .headerbar a:visited {
  color: inherit;
  text-decoration: none;
}

.headerbar a:hover {
  color: #CCCCCC;
  text-decoration: underline;
}

.copyright {
  border: 1px solid #081f42;
  border-radius: 7px;
  padding: 15px 10px;
  background-color: #dadfe6;
  margin: 0;
  margin: 10px 0 0;
  color: #000000;
  -webkit-box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.75), inset -3px -3px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.75), inset -3px -3px 7px -2px rgba(0, 0, 0, 0.75);
}

/* Sidebar - controlled via configfile */
.sidebar {
  display: block;
  float: right;
  width: 180px;
  min-height: 100px;
  height: auto;
  background-color: #dadfe6;
}

@media all and (min-width: 1100px) {
  .postprofile, .search .postprofile {
    width: 240px;
  }
  .postbody, .search .postbody {
    width: 872px;
  }
}

.post {
  -webkit-box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.75);
  margin-bottom: 10px;
}

.panel {
  -webkit-box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.75), inset -3px -3px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.75), inset -3px -3px 7px -2px rgba(0, 0, 0, 0.75);
  padding: 7px 12px;
}

.action-bar {
  margin: 6px 0 10px;
}

.page-footer .navbar, #page-header .navbar {
  padding: 5px 10px;
  -webkit-box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.75), inset -3px -3px 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 3px 7px -2px rgba(0, 0, 0, 0.75), inset -3px -3px 7px -2px rgba(0, 0, 0, 0.75);
}

/* New forabg/forumbg design */
.forabg, .forumbg, .stat-container {
  border: none;
  border-radius: 7px;
  padding: 8px 8px 0;
  margin-bottom: 8px;
  background: -webkit-linear-gradient(to bottom, #081f42 45px, #081f42 46px, rgba(148, 155, 163, 0) 52px, rgba(148, 155, 163, 0) 100%);
  background: -o-linear-gradient(to bottom, #081f42 45px, #081f42 46px, rgba(148, 155, 163, 0) 52px, rgba(148, 155, 163, 0) 100%);
  background: -webkit-linear-gradient(top, #081f42 45px, #081f42 46px, rgba(148, 155, 163, 0) 52px, rgba(148, 155, 163, 0) 100%);
  background: -o-linear-gradient(top, #081f42 45px, #081f42 46px, rgba(148, 155, 163, 0) 52px, rgba(148, 155, 163, 0) 100%);
  background: linear-gradient(to bottom, #081f42 45px, #081f42 46px, rgba(148, 155, 163, 0) 52px, rgba(148, 155, 163, 0) 100%);
}

.forabg .inner, .forumbg .inner, .stat-container .inner {
  padding: 0;
  border-radius: 7px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-color: #000000;
}

.forabg .inner ul.topiclist, .forumbg .inner ul.topiclist, .stat-container .inner ul.topiclist {
  padding: 3px 0 0;
}

.forabg .inner ul.topiclist li.header, .forumbg .inner ul.topiclist li.header, .stat-container .inner ul.topiclist li.header {
  text-align: center;
}

ul.forums {
  border-radius: 5px;
}

ul.topiclist li:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-color: transparent;
}

ul.topiclist li:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-color: transparent;
}

/* Enclosing statistic blocks in stat-container */
#login-container {
  border: 1px solid #081f42;
  border-radius: 7px;
  padding: 15px 10px;
  background-color: #dadfe6;
  margin: 0;
  margin: 0 5px;
  background-color: #bfdfbf;
}

.stat-container {
  margin-top: 15px;
}

.stat-container .stat-block {
  border: 1px solid #081f42;
  border-radius: 7px;
  padding: 15px 10px;
  background-color: #dadfe6;
  margin: 0;
}

.stat-container .stat-block:first-child {
  margin-top: 5px;
}

.stat-container .stat-block:last-child {
  margin-bottom: 15px;
}

.stat-container h3, .stat-container p {
  margin: 0;
}

.headerspace, .headerspace h3 {
  margin: 0;
}

/* Diverse */
/* Topic & Forum Titles */
.topic-title, .forum-title {
  text-align: center;
}

.topic-title a, .forum-title a {
  min-width: 33%;
  width: auto;
  padding: 5px 15px;
  border: 1px solid #e6e9ed;
  border-radius: 10px;
  background-color: #dadfe6;
}

h2.topic-title, h2.forum-title {
  margin: 10px 0;
}

.action-bar a.rightside {
  padding: 1px 8px;
  border: 1px solid #e6e9ed;
  border-radius: 7px;
  background-color: #dadfe6;
}

.action-bar .jumpbox-return {
  padding: 1px 8px;
  border: 1px solid #e6e9ed;
  border-radius: 7px;
  background-color: #dadfe6;
}

.action-bar .pagination {
  padding: 1px 8px;
  border: 1px solid #e6e9ed;
  border-radius: 7px;
  background-color: #dadfe6;
}

.action-bar .pagination > a {
  padding: 5px 0;
}

/* -------------------------------------------------
 * Overrides, Mixins and other stuff ...
  * ------------------------------------------------- */
/* Switches postprofile/postbody right<->left */
.postprofile {
  border-width: 0 0 0 1px;
  float: right;
}

.postprofile dd, .postprofile dt {
  margin-left: 8px;
}

.postbody {
  float: left;
}
