//  =========================================================================
//  Colour schemes configuration
//  =========================================================================

//  =========================================================================
//  1.  Import all colour scheme stylesheets
//  2.  Functions & mixins to assign values according to the choosen schemes
//  3.  Assign scheme specific values
//  4.  Assign (3) to secondary theme colour variables
//  =========================================================================


// ========================================================================
//  1.  Import existing scheme stylesheets
//      NOTE:
//      In order to secure  compatibility with certain SASS pre-processors this
//      will have to be done via "_framework.css" ...
// ========================================================================


// ========================================================================
//  2.  Functions & mixins
// ========================================================================

//  2.1  Mapping all colour maps of scheme files
//       Add your declaration here
$colour-maps: (
  prosilver: $prosilver,
  standard:  $standard,
  red:       $red,
  green:     $green,
);

//  2.2  Function to select colours according to selected colour scheme
//  Do not change!
@function getcolor($element) {
  $scheme:   $switch-col-scheme;
  $selected: map-get(map-get($colour-maps, $scheme), $element);

  @return $selected;
}


// ========================================================================
//  3.  Assign scheme dependent colour values to theme variables
// ========================================================================

// Primary Colors
$col-primary:       getcolor(primary) !default;
$col-primary-light: getcolor(primary-light) !default;
$col-primary-dark:  getcolor(primary-dark) !default;

// Secondary Colors
$col-secondary:       getcolor(secondary);
$col-secondary-light: getcolor(secondary-light) !default;
$col-secondary-dark:  getcolor(secondary-dark) !default;

// UI Colors
$col-ui:            getcolor(ui) !default;
$col-ui-light:      getcolor(ui-light) !default;
$col-ui-dark:       getcolor(ui-dark) !default;
$col-ui-super-dark: getcolor(ui-super-dark) !default;

// Accent Colors:
$col-accent-light:     getcolor(accent-light) !default;
$col-accent-dark:      getcolor(accent-dark) !default;
$col-accent-hover:     getcolor(accent-hover) !default;
$col-accent-highlight: getcolor(accent-highlight) !default;

// Additioanl UI Vars
$col-links:     getcolor(links) !default;
$col-highlight: getcolor(highlight) !default;
$col-code:      getcolor(code) !default;
$col-bg:        getcolor(bg) !default;
$col-polls:     getcolor(polls) !default;

// Background Colors
$col-bg-01:             getcolor(bg-1) !default;
$col-bg-02:             getcolor(bg-2) !default;
$col-bg-03:             getcolor(bg-3) !default;
$col-bg-04:             getcolor(bg-4) !default;
$col-bg-light:          getcolor(bg-light) !default;
$col-bg-dark:           getcolor(bg-dark) !default;
$col-bg-dark-hover:     getcolor(bg-dark-hover) !default;
$col-bg-body:           getcolor(bg-body) !default;
$col-bg-wrap:           getcolor(bg-wrap) !default;
$col-bg-forumcontainer: getcolor(bg-forumcontainer) !default;

// Link Colors
$col-link:                 getcolor(link) !default;
$col-link-accent:          getcolor(link-accent) !default;
$col-link-hover:           getcolor(link-hover) !default;
$col-link-hover-highlight: getcolor(link-hover-highlight) !default;

$col-link-secondary:                 getcolor(link-secondary) !default;
$col-link-secondary-accent:          getcolor(link-secondary-accent) !default;
$col-link-secondary-hover:           getcolor(link-secondary-hover) !default;
$col-link-secondary-hover-highlight: getcolor(link-secondary-hover-highlight) !default;

// Button Colors
$col-button-border:           getcolor(button-border) !default;
$col-button-box-shadow:       getcolor(button-box-shadow) !default;
$col-button-text-shadow:      getcolor(button-text-shadowy) !default;
$col-button-text:             getcolor(button-text) !default;
$col-button-background:       getcolor(button-background) !default;
$col-button-background-light: getcolor(button-background-light) !default;
$col-button-icon:             getcolor(button-icon) !default;

$col-button-icon-hover:        getcolor(button-icon-hover) !default;
$col-button-border-hover:      getcolor(button-border-hover) !default;
$col-button-text-shadow-hover: getcolor(button-text-shadow-hover) !default;

$col-button-form-text:               getcolor(button-form-text) !default;
$col-button-form-border:             getcolor(button-form-border) !default;
$col-button-form-text-hover:         getcolor(button-form-text-hover) !default;
$col-button-form-border-hover:       getcolor(button-form-border-hover) !default;
$col-button-form-input-border-focus: getcolor(button-form-input-border-focus) !default;
$col-button-form-input-text-focus:   getcolor(button-form-input-text-focus) !default;

// Tab Colors
$col-tab-text:                    getcolor(tab-text) !default;
$col-tab-background:              getcolor(tab-background) !default;
$col-tab-text-hover:              getcolor(tab-text-hover) !default;
$col-tab-background-hover:        getcolor(tab-background-hover) !default;
$col-tab-text-active:             getcolor(tab-text-active) !default;
$col-tab-background-active:       getcolor(tab-background-active) !default;
$col-tab-border-active:           getcolor(tab-border-active) !default;
$col-tab-background-active-light: getcolor(tab-background-active-light) !default;
$col-tab-background-mini:         getcolor(tab-background-mini) !default;
$col-tab-text-mini-active:        getcolor(tab-text-mini-active) !default;
$col-tab-background-mini-active:  getcolor(tab-background-mini-active) !default;

// Poll Colors
$col-poll-bg1: getcolor(poll-bg1) !default;
$col-poll-bg2: getcolor(poll-bg2) !default;
$col-poll-bg3: getcolor(poll-bg3) !default;
$col-poll-bg4: getcolor(poll-bg4) !default;
$col-poll-bg5: getcolor(poll-bg5) !default;

$col-poll-border1: getcolor(poll-border1) !default;
$col-poll-border2: getcolor(poll-border2) !default;
$col-poll-border3: getcolor(poll-border3) !default;
$col-poll-border4: getcolor(poll-border4) !default;
$col-poll-border5: getcolor(poll-border5) !default;

// Highlight colors
$col-blockquote:       getcolor(blockquote) !default;
$col-blockquote-inner: getcolor(blockquote-inner) !default;

// PM Colors
$col-pm-reply:    getcolor(pm-reply) !default;
$col-pm-friend:   getcolor(pm-friend) !default;
$col-pm-reported: getcolor(pm-reported) !default;
$col-pm-marked:   getcolor(pm-marked) !default;
$col-pm-foe:      getcolor(pm-foe) !default;

// Other Unique Colors
$col-loader-blue:   getcolor(loader-blue) !default;
$col-loader-red:    getcolor(loader-red) !default;
$col-loader-yellow: getcolor(loader-yellow) !default;
$col-loader-green:  getcolor(loader-green) !default;
$col-online:        getcolor(online) !default;


// ========================================================================
//  4.  Secondary theme colour variables
//  NOTE: Subject to change during development!
// ========================================================================
$col-base:               $col-primary !default;
$col-body:               $col-bg-body !default;             // Body colour
//$col-wrap:               /*#949ba3*/$gray-300 !default;   // Wrap colour
$switch-opacity-wrap:    0.5 !default;                      // Opacity wrap background colour
// $col-category:           $col-primary-dark !default;     // Category/fora header colourv
$col-navbar:             $col-primary-dark !default;        // Navbar colour
$col-headerbar:          $col-primary-dark !default;        // Headerbar background colour

$col-forums:             lighten($col-bg-01, 5%) !default;         // Colour ul.forums
$col-bg:                 $col-bg-01 !default;                      // Colour bg1 & bg3
$col-bg2:                $col-bg-02 !default;                      // Colour bg2

// Text Colours
$col-text-headerbar:     #fff !default;
$col-text-catfora-title: $white !default;
