//  =========================================================================
//  Colour schemes configuration
//  =========================================================================

//  =========================================================================
//  1.  Import all colour scheme stylesheets
//  2.  Functions & mixins to assign values according to the choosen schemes
//  3.  Assign scheme specific values
//  4.  Assign (3) to secondary theme colour variables
//  =========================================================================


// ========================================================================
//  1.  Import existing scheme stylesheets
//      NOTE:
//      In order to secure  compatibility with certain SASS pre-processors this
//      will have to be done via "_framework.css" ...
// ========================================================================


// ========================================================================
//  2.  Functions & mixins
// ========================================================================

//  2.1  Mapping all colour maps of scheme files
//       Add your declaration here
$colour-maps: (
  default:   $default,
  prosilver: $prosilver,
  red:       $red,
  green:     $green,
);

//  2.2  Function to select variable values according to selected colour scheme
//  Do not change!
@function set-value($element) {
  // Which colour scheme is currently configured?
  $scheme:   $switch-col-scheme;
  // Create production map by merging the configured into the default scheme map
  $mapped: map-merge($default, map-get($colour-maps, $scheme));
  // Fetch values from production map
  $selected: map-get($mapped, $element);

  @return $selected;
}


// ========================================================================
//  3.  Assign scheme dependent colour values to theme variables
// ========================================================================

// Primary Colors
$col-primary:       set-value(primary) !default;
$col-primary-light: set-value(primary-light) !default;
$col-primary-dark:  set-value(primary-dark) !default;

// Secondary Colors
$col-secondary:       set-value(secondary);
$col-secondary-light: set-value(secondary-light) !default;
$col-secondary-dark:  set-value(secondary-dark) !default;

// UI Colors
$col-ui:            set-value(ui) !default;
$col-ui-light:      set-value(ui-light) !default;
$col-ui-dark:       set-value(ui-dark) !default;
$col-ui-super-dark: set-value(ui-super-dark) !default;

// Accent Colors:
$col-accent-light:     set-value(accent-light) !default;
$col-accent-dark:      set-value(accent-dark) !default;
$col-accent-hover:     set-value(accent-hover) !default;
$col-accent-highlight: set-value(accent-highlight) !default;

// Additioanl UI Vars
$col-links:     set-value(links) !default;
$col-highlight: set-value(highlight) !default;
$col-code:      set-value(code) !default;
$col-bg:        set-value(bg) !default;
$col-polls:     set-value(polls) !default;

// Background Colors
$col-bg-01:             set-value(bg-1) !default;
$col-bg-02:             set-value(bg-2) !default;
$col-bg-03:             set-value(bg-3) !default;
$col-bg-04:             set-value(bg-4) !default;
$col-bg-light:          set-value(bg-light) !default;
$col-bg-dark:           set-value(bg-dark) !default;
$col-bg-dark-hover:     set-value(bg-dark-hover) !default;
$col-bg-body:           set-value(bg-body) !default;
$col-bg-wrap:           set-value(bg-wrap) !default;
$col-bg-forumcontainer: set-value(bg-forumcontainer) !default;

// Link Colors
$col-link:                 set-value(link) !default;
$col-link-accent:          set-value(link-accent) !default;
$col-link-hover:           set-value(link-hover) !default;
$col-link-hover-highlight: set-value(link-hover-highlight) !default;

$col-link-secondary:                 set-value(link-secondary) !default;
$col-link-secondary-accent:          set-value(link-secondary-accent) !default;
$col-link-secondary-hover:           set-value(link-secondary-hover) !default;
$col-link-secondary-hover-highlight: set-value(link-secondary-hover-highlight) !default;

// Button Colors
$col-button-border:           set-value(button-border) !default;
$col-button-box-shadow:       set-value(button-box-shadow) !default;
$col-button-text-shadow:      set-value(button-text-shadowy) !default;
$col-button-text:             set-value(button-text) !default;
$col-button-background:       set-value(button-background) !default;
$col-button-background-light: set-value(button-background-light) !default;
$col-button-icon:             set-value(button-icon) !default;

$col-button-icon-hover:        set-value(button-icon-hover) !default;
$col-button-border-hover:      set-value(button-border-hover) !default;
$col-button-text-shadow-hover: set-value(button-text-shadow-hover) !default;

$col-button-form-text:               set-value(button-form-text) !default;
$col-button-form-border:             set-value(button-form-border) !default;
$col-button-form-text-hover:         set-value(button-form-text-hover) !default;
$col-button-form-border-hover:       set-value(button-form-border-hover) !default;
$col-button-form-input-border-focus: set-value(button-form-input-border-focus) !default;
$col-button-form-input-text-focus:   set-value(button-form-input-text-focus) !default;

// Tab Colors
$col-tab-text:                    set-value(tab-text) !default;
$col-tab-background:              set-value(tab-background) !default;
$col-tab-text-hover:              set-value(tab-text-hover) !default;
$col-tab-background-hover:        set-value(tab-background-hover) !default;
$col-tab-text-active:             set-value(tab-text-active) !default;
$col-tab-background-active:       set-value(tab-background-active) !default;
$col-tab-border-active:           set-value(tab-border-active) !default;
$col-tab-background-active-light: set-value(tab-background-active-light) !default;
$col-tab-background-mini:         set-value(tab-background-mini) !default;
$col-tab-text-mini-active:        set-value(tab-text-mini-active) !default;
$col-tab-background-mini-active:  set-value(tab-background-mini-active) !default;

// Poll Colors
$col-poll-bg1: set-value(poll-bg1) !default;
$col-poll-bg2: set-value(poll-bg2) !default;
$col-poll-bg3: set-value(poll-bg3) !default;
$col-poll-bg4: set-value(poll-bg4) !default;
$col-poll-bg5: set-value(poll-bg5) !default;

$col-poll-border1: set-value(poll-border1) !default;
$col-poll-border2: set-value(poll-border2) !default;
$col-poll-border3: set-value(poll-border3) !default;
$col-poll-border4: set-value(poll-border4) !default;
$col-poll-border5: set-value(poll-border5) !default;

// Highlight colors
$col-blockquote:       set-value(blockquote) !default;
$col-blockquote-inner: set-value(blockquote-inner) !default;

// PM Colors
$col-pm-reply:    set-value(pm-reply) !default;
$col-pm-friend:   set-value(pm-friend) !default;
$col-pm-reported: set-value(pm-reported) !default;
$col-pm-marked:   set-value(pm-marked) !default;
$col-pm-foe:      set-value(pm-foe) !default;

// Other Unique Colors
$col-loader-blue:   set-value(loader-blue) !default;
$col-loader-red:    set-value(loader-red) !default;
$col-loader-yellow: set-value(loader-yellow) !default;
$col-loader-green:  set-value(loader-green) !default;
$col-online:        set-value(online) !default;


// ========================================================================
//  4.  Secondary theme colour variables
//  NOTE: Subject to change during development!
// ========================================================================

//$col-wrap:               /*#949ba3*/$gray-300 !default;   // Wrap colour
$switch-opacity-wrap:    0.5 !default;                       // Opacity wrap background colour

$col-navbar:             $col-bg-03 !default;         // Navbar colour
$col-cat-titlebar:       $col-primary-dark !default;         // Category/fora header colour
$col-headerbar:          $col-primary-dark !default;         // Headerbar background colour

$col-forums:             lighten($col-bg-01, 5%) !default;   // Colour ul.forums
$col-bg:                 $col-bg-01 !default;                // Colour bg1 & bg3
$col-bg2:                $col-bg-02 !default;                // Colour bg2

// Text Colours
$col-text-headerbar:     $white !default;
$col-text-catfora-title: $white !default;

// Misc
$bg-body-texture:        set-value(bg-body-texture) !default;
$bg-body-image:          set-value(bg-body-image) !default;
$bg-body-colour:         $col-bg-body !default;
$bg-body-css:            set-value(bg-body-css) !default;
