// Primary Colors
$prosilver-primary:          hsl(200, 85%, 50%) !default;
$prosilver-primary-light:    saturate(lighten($prosilver-primary, 25%), 15%);
$prosilver-primary-dark:     saturate(darken($prosilver-primary, 15%), 15%);

// Secondary Colors
$prosilver-secondary:        adjust-hue($prosilver-primary, 10%) !default;
$prosilver-secondary-light:  saturate(lighten($prosilver-secondary, 25%), 15%);
$prosilver-secondary-dark:   saturate(darken($prosilver-secondary, 15%), 15%);

$prosilver-accent:           adjust-hue($prosilver-primary, 145%) !default;

$prosilver-ui:               desaturate(adjust-hue($prosilver-primary, 20%), 65%) !default;
$prosilver-ui-light:         lighten($prosilver-ui, 25%);
$prosilver-ui-dark:          darken($prosilver-ui, 15%);
$prosilver-ui-super-dark:    darken($prosilver-ui, 30%);

// Additioanl UI Vars
$prosilver-links:            desaturate(darken($prosilver-secondary, 20%), 5%) !default;
$prosilver-highlight:        hsl(55, 100%, 90%) !default;
$prosilver-code:             hsl(125, 40%, 50%) !default;

$prosilver-background:       $prosilver-primary !default;
$prosilver-background-0:     desaturate(lighten($prosilver-primary, 45%), 45%);
$prosilver-background-light: saturate($prosilver-background-0, 60%);
$prosilver-background-dark:  desaturate(darken($prosilver-background-0, 14%), 10%);

$prosilver-polls:            $prosilver-accent !default;



$prosilver: (
  ///=========== ALL VARS BEYOND HERE ARE BASED ON THE VARS ABOVE ==============

  primary:       $prosilver-primary,
  primary-light: $prosilver-primary-light,
  primary-dark:  $prosilver-primary-dark,

  // UI Colors
  ui-light:      $prosilver-ui-light ,
  ui-dark:       $prosilver-ui-dark,
  ui-super-dark: $prosilver-ui-super-dark,

  // Accent Colors
  accent-light:     saturate(lighten($prosilver-accent, 25%), 15%),
  accent-dark:      saturate(darken($prosilver-accent, 15%), 15%),
  accent-hover:     desaturate(lighten($prosilver-accent, 10%), 45%),
  //col-accent-highlight: lighten($prosilver-accent-hover, 5%),
  accent-highlight: lighten($prosilver-accent, 50%),

  // Background Colors
  bg-1:          $prosilver-background-0,
  bg-2:          darken($prosilver-background-0, 5%),
  bg-3:          darken($prosilver-background-0, 10%),
  bg-4:          desaturate($prosilver-background-0, 20%),
  bg-light:      saturate($prosilver-background-0, 60%),
  bg-dark:       desaturate(darken($prosilver-background-0, 14%), 10%),
  bg-dark-hover: lighten($prosilver-background-dark, 5%),
  bg-body:       $white,

  // Link Colors
  link:                           $prosilver-links,
  link-accent:                    saturate(lighten($prosilver-links, 10%), 15%),
  link-hover:                     darken($prosilver-accent, 5%),
  link-hover-highlight:           lighten($prosilver-accent, 35%),

  link-secondary:                 desaturate(lighten($prosilver-links, 20%), 15%),
  link-secondary-accent:          desaturate(lighten($prosilver-links, 20%), 45%),
  link-secondary-hover:           darken(desaturate(lighten($prosilver-links, 20%), 15%), 25%),
  link-secondary-hover-highlight: desaturate(lighten($prosilver-links, 55%), 35%),

  // Button Colors
  button-border:           $gray-400,
  button-box-shadow:       $white,
  button-text-shadow:      $white,
  button-text:             darken($prosilver-accent, 5%),
  button-background:       $gray-300,
  button-background-light: $white,
  button-icon:             $gray-500,

  button-icon-hover:        $prosilver-primary-dark,
  button-border-hover:      $prosilver-primary-dark,
  button-text-shadow-hover: rgba(desaturate(darken($prosilver-accent, 5%), 20%), .2),

  button-form-text:               $gray-900,
  button-form-border:             $gray-700,
  button-form-text-hover:         darken($prosilver-accent, 5%),
  button-form-border-hover:       darken($prosilver-accent, 5%),
  button-form-input-border-focus: $prosilver-primary-dark,
  button-form-input-text-focus:   $prosilver-primary-dark,

  // Tab Colors
  tab-text:       $prosilver-ui-dark,
  tab-background: $prosilver-background-dark,

  tab-text-hover:       darken($prosilver-accent, 5%),
  tab-background-hover: $prosilver-background-light,

  tab-text-active:             $gray-900,
  tab-background-active:       darken($prosilver-background-0, 10%),
  tab-border-active:           darken($prosilver-background-0, 10%),
  tab-background-active-light: $prosilver-background-light,

  tab-background-mini:        darken($prosilver-background-0, 5%),
  tab-text-mini-active:       $gray-900,
  tab-background-mini-active: $gray-50,

  // Poll Colors
  poll-bg1: desaturate(darken($prosilver-polls, 10%), 10%),
  poll-bg2: desaturate(darken($prosilver-polls, 5%), 5%),
  poll-bg3: $prosilver-polls,
  poll-bg4: saturate(lighten($prosilver-polls, 5%), 5%),
  poll-bg5: saturate(lighten($prosilver-polls, 10%), 10%),

  poll-border1: desaturate(darken($prosilver-polls, 20%), 10%),
  poll-border2: desaturate(darken($prosilver-polls, 10%), 5%),
  poll-border3: desaturate(darken($prosilver-polls, 5%), 5%),
  poll-border4: desaturate($prosilver-polls, 5%),
  poll-border5: desaturate($prosilver-polls, 5%),

  // Highlight colors
  blockquote:       desaturate($prosilver-highlight, 45%),
  blockquote-inner: desaturate($prosilver-highlight, 30%),

  // PM Colors
  pm-reply:    desaturate(lighten($prosilver-primary, 20%), 65%),
  pm-friend:   desaturate(darken($prosilver-primary, 5%), 45%),
  pm-reported: $prosilver-accent,
  pm-marked:   adjust-hue(saturate($prosilver-accent, 15%), -310%),
  pm-foe:      $black,

  // Other Unique Colors
  loader-blue:   #4285f4,
  loader-red:    #de3e35,
  loader-yellow: #f7c223,
  loader-green:  #1b9a59,
  online:        #85de39,
);

// test
/*
// Common Colours
//---------------------------------------------------------------------------
html,
body {
  background-color: $gray-100;
  color: $prosilver-ui-dark;
}

h1 {
  color: $white;
}

h2 {
  color: $prosilver-ui-super-dark;
}

h3 {
  border-bottom-color: $gray-300;
  color: $prosilver-secondary-dark;
}

hr {
  border-color: $white;
  border-top-color: $gray-300;
}



// Link Colours
//---------------------------------------------------------------------------

a {
  color: $prosilver-link;

  &:hover {
    color: $prosilver-link-hover;
  }
}

// links on gradient backgrounds
.forumbg .header a,
.forabg .header a,
th a {
  color: $white;
}

.forumbg .header a:hover,
.forabg .header a:hover,
th a:hover {
  color: $prosilver-secondary-light;
}

// post body links
.postlink {
  border-bottom-color: $prosilver-link-secondary;
  color: $prosilver-link-secondary;
}

.postlink:visited {
  border-bottom-color: $prosilver-link-secondary-accent;
  color: $prosilver-link-secondary-accent;
}

.postlink:hover {
  background-color: $prosilver-link-secondary-hover-highlight;
  color: $prosilver-link-secondary-hover;
}

.signature a,
.signature a:hover {
  background-color: transparent;
}

// arrow links
.arrow-left:hover,
.arrow-right:hover {
  color: $prosilver-link-secondary;
}

.post:target .content {
  color: $black;
}

.post:target h3 a {
  color: $black;
}

// horizontal lists
ul.navlinks {
  border-top-color: $white;
}


//
// Icon Colours
//---------------------------------------------------------------------------

.top i {
  color: $gray-500;
}

.icon.icon-blue,
a:hover .icon.icon-blue {
  color: $prosilver-secondary-dark;
}

.icon.icon-green,
a:hover .icon.icon-green {
  color: $prosilver-code;
}

.icon.icon-red,
a:hover .icon.icon-red {
  color: $prosilver-link-hover;
}

.icon.icon-orange,
a:hover .icon.icon-orange {
  color: $prosilver-pm-marked;
}

.icon.icon-bluegray,
a:hover .icon.icon-bluegray {
  color: $prosilver-ui-dark;
}

.icon.icon-gray,
a:hover .icon.icon-gray {
  color: $gray-600;
}

.icon.icon-lightgray,
a:hover .icon.icon-lightgray {
  color: $gray-500;
}

.icon.icon-black,
a:hover .icon.icon-black {
  color: $gray-900;
}


//
// Button Colours
//---------------------------------------------------------------------------
.button {
  border-color: $prosilver-button-border;
  box-shadow: 0 0 0 1px $prosilver-button-box-shadow inset;
  color: $prosilver-button-text;
}

.button:hover,
.button:focus {
  background-image: -webkit-linear-gradient($prosilver-button-background 0%, $prosilver-button-background-light 100%);
  background-image: -o-linear-gradient($prosilver-button-background 0%, $prosilver-button-background-light 100%);
  background-image: linear-gradient($prosilver-button-background 0%, $prosilver-button-background-light 100%);
  border-color: $prosilver-button-border-hover;
  text-shadow: 1px 1px 0 $prosilver-button-text-shadow, -1px -1px 0 $prosilver-button-text-shadow, -1px -1px 0 $prosilver-button-text-shadow-hover;
  color: $prosilver-button-text;
}

.button .icon,
.button-secondary {
  color: $prosilver-button-icon;
}

a.button1,
input.button1, // form
a.button2,
input.button2 { // form-bold
  background-color: $prosilver-button-background-light;
  background-image: linear-gradient(to bottom, $prosilver-button-background 0%, $prosilver-button-background-light 100%);
  border-color: $prosilver-button-form-border;
  color: $prosilver-button-form-text;
}

a.button1:hover,
input.button1:hover, // form
a.button2:hover,
input.button2:hover { // form-bold
  text-shadow: none;
  background-color: $prosilver-button-background;
  background-image: linear-gradient(to bottom, $prosilver-button-background-light 0%, $prosilver-button-background 100%);
  border-color: $prosilver-button-form-border-hover;
  color: $prosilver-button-form-text-hover;
}

input.button1:focus, // form
input.button2:focus { // form-bold
  text-shadow: none;
  border-color: $prosilver-button-form-input-border-focus;
  color: $prosilver-button-form-input-text-focus;
}

.button-secondary:focus,
.button-secondary:hover,
.button:focus .icon,
.button:hover .icon {
  color: $prosilver-button-icon-hover;
}

.button-search:hover,
.button-search-end:hover {
  border-color: $prosilver-button-border;
}

.caret { border-color: $gray-400; }
.contact-icons a { border-color: $gray-300; }
.contact-icons a:hover { background-color: $gray-200; }


//
// Jumpbox Colours
//---------------------------------------------------------------------------
.jumpbox .dropdown li { border-top-color: $gray-300; }

.jumpbox-cat-link {
  background-color: $prosilver-primary-dark;
  border-top-color: $prosilver-primary-dark;
  color: $white;
}

.jumpbox-cat-link:hover,
.jumpbox-cat-link:focus {
  background-color: $prosilver-primary;
  border-top-color: $prosilver-primary;
  color: $white;
}

.jumpbox-forum-link {
  background-color: $prosilver-bg-2;
}

.jumpbox-forum-link:hover {
  background-color: $prosilver-highlight;
}

.jumpbox-sub-link {
  background-color: $prosilver-bg-2;
}

.jumpbox-sub-link:hover {
  background-color: $prosilver-bg-light;
}

.jumpbox .dropdown .pointer-inner {
  border-color: $prosilver-bg-2 transparent;
}


//
// Content Block Colours
//---------------------------------------------------------------------------

// Various Panel BG Colours
.bg1 {
  background-color: $prosilver-bg-1;
}

.bg2 {
  background-color: $prosilver-bg-2;
}

.bg3 {
  background-color: $prosilver-bg-3;
}

.wrap {
  background-color: $white;
  border-color: $gray-200;
}

.content {
  color: $gray-900;
}

.panel {
  background-color: $prosilver-bg-4;
  color: $prosilver-ui-super-dark;
}

.content h2,
.panel h2 {
  border-bottom-color: $gray-300;
  color: $prosilver-secondary-dark;
}

.navbar {
  background-color: $prosilver-bg-3;
}

div.rules {
  background-color: $prosilver-accent-hover;
  color: $prosilver-link-hover;
}

p.post-notice {
  background-color: $prosilver-accent-hover;
  background-image: none;
}

// round cornered boxes and backgrounds
.headerbar {
  color: $white;
}

.headerbar,
.forumbg {
  background-color: $prosilver-primary;
  background-image: linear-gradient(to bottom, $prosilver-primary-light 0%, $prosilver-primary-dark 0.1%, $prosilver-primary 30%, $prosilver-primary 100%);
  background-repeat: repeat-x;
}

.forabg {
  background-color: $prosilver-primary-dark;
  background-image: linear-gradient(to bottom, $prosilver-primary-light 0%, $prosilver-primary 0.1%, $prosilver-primary-dark 30%, $prosilver-primary-dark 100%);
  background-repeat: repeat-x;
}


//
// Forum & Topic Row Colours
//---------------------------------------------------------------------------

ul.forums {
  background-color: $prosilver-bg-1;
  background-image: linear-gradient(to bottom, darken($prosilver-bg-1, 15%) 0%, $prosilver-bg-1 100%);
}

ul.topiclist li {
  color: $prosilver-ui-dark;
}

ul.topiclist dd {
  border-left-color: $white;
}

.rtl ul.topiclist dd {
  border-right-color: $white;
  border-left-color: transparent;
}

li.row {
  border-top-color: $white;
  border-bottom-color: $prosilver-primary-dark;
}

li.row strong {
  color: $black;
}

li.row:hover {
  background-color: $prosilver-highlight;
}

li.row:hover dd {
  border-left-color: $gray-300;
}

.rtl li.row:hover dd {
  border-right-color: $gray-300;
  border-left-color: transparent;
}

li.header dt,
li.header dd {
  color: $white;
}


//
// Poll Colours
//---------------------------------------------------------------------------

fieldset.polls dl {
  border-top-color: $prosilver-bg-3;
  color: $gray-700;
}

fieldset.polls dl.voted {
  color: $black;
}

fieldset.polls dd div {
  color: $white;
}

.rtl .pollbar1,
.rtl .pollbar2,
.rtl .pollbar3,
.rtl .pollbar4,
.rtl .pollbar5 {
  border-right-color: transparent;
}

.pollbar1 {
  background-color: $prosilver-poll-bg1;
  border-right-color: $prosilver-poll-border1;
  border-bottom-color: $prosilver-poll-border1;
}

.pollbar2 {
  background-color: $prosilver-poll-bg2;
  border-right-color: $prosilver-poll-border2;
  border-bottom-color: $prosilver-poll-border2;
}

.pollbar3 {
  background-color: $prosilver-poll-bg3;
  border-right-color: $prosilver-poll-border3;
  border-bottom-color: $prosilver-poll-border3;
}

.pollbar4 {
  background-color: $prosilver-poll-bg4;
  border-right-color: $prosilver-poll-border4;
  border-bottom-color: $prosilver-poll-border4;
}

.pollbar5 {
  background-color: $prosilver-poll-bg5;
  border-right-color: $prosilver-poll-border5;
  border-bottom-color: $prosilver-poll-border5;
}

.rtl .pollbar1 {
  border-left-color: $prosilver-poll-border1;
}

.rtl .pollbar2 {
  border-left-color: $prosilver-poll-border2;
}

.rtl .pollbar3 {
  border-left-color: $prosilver-poll-border3;
}

.rtl .pollbar4 {
  border-left-color: $prosilver-poll-border4;
}

.rtl .pollbar5 {
  border-left-color: $prosilver-poll-border5;
}


//
// Post Colours
//---------------------------------------------------------------------------

// profile
.postprofile {
  border-color: $white;
  color: $gray-700;
}

.pm .postprofile { border-color: $gray-300; }
.postprofile strong { color: $black; }
dd.profile-warnings { color: $prosilver-link-hover; }

// post body styles
.postbody { color: $gray-900; }

.posthilit {
  background-color: $prosilver-link-hover-highlight;
  color: $prosilver-link-hover;
}

// post signature
.signature { border-top-color: $gray-300; }

// post noticies
.notice { border-top-color: $gray-300; }

// quote block
blockquote {
  background-color: $prosilver-blockquote;
  border-color: desaturate($prosilver-blockquote, 10%);
}

// nested quotes
blockquote blockquote { background-color: $prosilver-blockquote-inner; }
blockquote blockquote blockquote { background-color: $prosilver-blockquote; }

// code block
.codebox {
  background-color: $white;
  border-color: $prosilver-bg-dark;
}

.codebox p { border-bottom-color: $gray-300; }
.codebox code { color: $prosilver-code; }

// attachments
.attachbox {
  background-color: $white;
  border-color: $prosilver-bg-dark;
}

.attachbox dd { border-top-color: $prosilver-bg-dark; }
.attachbox p { color: $gray-700; }
.attachbox p.stats { color: $gray-700; }
.attach-image img { border-color: $gray-500; }

// inline image thumbnails
dl.thumbnail img {
  background-color: $white;
  border-color: $gray-700;
}

dl.file dd { color: $gray-700; }
dl.thumbnail dd { color: $gray-700; }
dl.thumbnail dt a:hover { background-color: $gray-200; }
dl.thumbnail dt a:hover img { border-color: $prosilver-link-secondary; }


//
// Pagination Colours
//---------------------------------------------------------------------------

.pagination li a {
  background: $gray-200;
  filter: none;
  border-color: $gray-400;
  box-shadow: none;
  color: $gray-500;
}

.pagination li.ellipsis span {
  background: transparent;
  color: $black;
}

.pagination li.active span {
  background: $prosilver-link-secondary;
  border-color: $prosilver-link-secondary;
  color: $white;
}

.pagination li a:hover,
.pagination li a:hover .icon,
.pagination .dropdown-visible a.dropdown-trigger,
.nojs .pagination .dropdown-container:hover a.dropdown-trigger {
  background: $prosilver-link-secondary;
  filter: none;
  border-color: $prosilver-link-secondary;
  text-shadow: none;
  color: $white;
}


//
// Search Box Colours
//---------------------------------------------------------------------------

.search-box .inputbox,
.search-box .inputbox:hover,
.search-box .inputbox:focus {
  border-color: $gray-400;
}

.search-header { box-shadow: 0 0 10px $prosilver-primary-dark; }


//
// CP Colours
//---------------------------------------------------------------------------

// main cp box
.panel-container h3,
.panel-container hr,
.cp-menu hr {
  border-color: $prosilver-bg-3;
}

.panel-container .panel li.row {
  border-top-color: $gray-50;
  border-bottom-color: $prosilver-bg-3;
}

ul.cplist { border-top-color: $prosilver-bg-3; }

.panel-container .panel li.header dd,
.panel-container .panel li.header dt {
  color: $black;
}

.panel-container h2 { color: $gray-900; }
.panel-container .panel { background-color: $gray-50; }
.cp-main .pm { background-color: $white; }
.cp-mini { background-color: $prosilver-bg-1; }
dl.mini dt { color: $prosilver-ui-dark; }


//
// Tab Colours
//---------------------------------------------------------------------------

.tabs .tab > a {
  background: $prosilver-tab-background;
  color: $prosilver-tab-text;
}

.tabs .tab > a:hover {
  background: $prosilver-tab-background-hover;
  color: $prosilver-tab-text-hover;
}

// responsive tabs
.responsive-tab .responsive-tab-link:before { border-color: $prosilver-tab-text; }
.responsive-tab .responsive-tab-link:hover:before { border-color: $prosilver-tab-text-hover; }

.tabs .activetab > a,
.tabs .activetab > a:hover {
  background-color: $prosilver-tab-background-active;
  background-image: linear-gradient(to bottom, $prosilver-tab-background-active-light 0%, $prosilver-tab-background-active 100%);
  border-color: $prosilver-tab-border-active;
  box-shadow: 0 1px 1px $prosilver-bg-light inset;
  color: $prosilver-tab-text-active;
}

// mini tabbed menu used in mcp
.minitabs .tab > a { background-color: $prosilver-tab-background-mini; }

.minitabs .activetab > a,
.minitabs .activetab > a:hover {
  background-color: $prosilver-tab-background-mini-active;
  color: $prosilver-tab-text-mini-active;
}


//
// UCP Nav Colours
//---------------------------------------------------------------------------

// link styles for the sub-section links
.navigation a {
  background: $prosilver-tab-background;
  background-image: linear-gradient(to right, desaturate(darken($prosilver-tab-background, 10%), 15%) 50%, $prosilver-tab-background 100%);
  color: $prosilver-tab-text-mini-active;
}

.rtl .navigation a { background-image: linear-gradient(to right, $prosilver-tab-background 50%, desaturate(darken($prosilver-tab-background, 10%), 15%) 100%); }

.navigation a:hover {
  background: desaturate(darken($prosilver-tab-background, 10%), 15%);
  color: $prosilver-tab-text-hover;
}

.navigation .active-subsection a {
  background: $prosilver-tab-background-mini-active;
  color: $prosilver-tab-text-hover;
}

.navigation .active-subsection a:hover { color: $prosilver-tab-text-hover; }

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
  .navigation a,
  .rtl .navigation a {
    background: desaturate(darken($prosilver-tab-background, 10%), 15%);
  }
}


//
// PM Colours
//---------------------------------------------------------------------------

// pm message history
.current { color: $black !important; }

// pm marking colours
.pmlist li.pm_message_reported_colour,
.pm_message_reported_colour {
  border-right-color: $prosilver-pm-reported;
  border-left-color: $prosilver-pm-reported;
}

.pmlist li.pm_marked_colour,
.pm_marked_colour {
  border-color: $prosilver-pm-marked;
}

.pmlist li.pm_replied_colour,
.pm_replied_colour {
  border-color: $prosilver-pm-reply;
}

.pmlist li.pm_friend_colour,
.pm_friend_colour {
  border-color: $prosilver-pm-friend;
}

.pmlist li.pm_foe_colour,
.pm_foe_colour {
  border-color: $prosilver-pm-foe;
}


//
// Avatar Gallery Colours
//---------------------------------------------------------------------------

.gallery label {
  background: $white;
  border-color: $gray-300;
}

.gallery label:hover { background-color: $gray-200; }


//
// Table Colours
//---------------------------------------------------------------------------

table.zebra-list tr:nth-child(odd) td,
ul.zebra-list li:nth-child(odd) {
  background-color: $prosilver-bg-1;
}

table.zebra-list tr:nth-child(even) td,
ul.zebra-list li:nth-child(even) {
  background-color: $prosilver-bg-2;
}
table.table1 thead th { color: $white; }
table.table1 tbody tr { border-color: $prosilver-bg-3; }

table.table1 tbody tr:hover,
table.table1 tbody tr.hover {
  background-color: $prosilver-link-secondary-hover-highlight;
  color: $black;
}

table.table1 tbody th {
  background-color: $white;
  border-bottom-color: $black;
  color: $gray-900;
}

table.info tbody th { color: $black; }
table.table1 td { color: $prosilver-ui-dark; }
table.table1 tbody td { border-top-color: $gray-50; }

.panel-container table.table1 thead th {
  border-bottom-color: $gray-900;
  color: $gray-900;
}


//
// Form Colours
//---------------------------------------------------------------------------

// general form styles
select {
  background-color: $gray-50;
  border-color: $gray-700;
  color: $black;
}

label { color: $prosilver-ui-dark; }

// definition list layout for forms
dd label { color: $gray-900; }
fieldset.fields1 { background-color: transparent; }

// hover effects
fieldset dl:hover dt label { color: $black; }
fieldset.fields2 dl:hover dt label { color: inherit; }

// Quick-login on index page
fieldset.quick-login input.inputbox { background-color: $gray-100; }

// misc layout styles
dl.details dt { color: $black; }
dl.details dd { color: $prosilver-ui-dark; }

// posting page styles
.message-box textarea { color: $gray-900; }
.message-box textarea.drag-n-drop { outline-color: rgba($gray-700, 0.5); }
.message-box textarea.drag-n-drop-highlight { outline-color: rgba($prosilver-primary, 0.5); }

// input field styles
.inputbox {
  background-color: $white;
  border-color: $gray-400;
  color: $gray-900;
}

.inputbox:-moz-placeholder,
.inputbox::-webkit-input-placeholder {
  color: $gray-900;
}

.inputbox:hover,
.inputbox:focus {
  border-color: $prosilver-primary;
}

.inputbox:focus:-moz-placeholder,
.inputbox:focus::-webkit-input-placeholder {
  color: transparent;
}

input.disabled { color: $gray-600; }
option.disabled-option { color: $gray-600; }


//
// JS Animation Colours
//---------------------------------------------------------------------------

.phpbb_alert {
  background-color: $white;
  border-color: $gray-500;
}

.alert_close .icon:before { background-color: $white; }
.darken { background-color: $black; }

//
// Dropdowns Colours
//---------------------------------------------------------------------------
.dropdown-extended a.mark_read { background-color: $white; }
.dropdown-extended ul li { border-top-color: $gray-400; }

.dropdown-extended ul li:hover {
  background-color: $prosilver-link-secondary-hover-highlight;
  color: $black;
}

.dropdown-extended .header,
.dropdown-extended .footer {
  border-color: $gray-400;
  color: $black;
}

.dropdown-extended .footer {
  border-top-width: 1px;
  border-top-style: solid;
}

.dropdown-extended .header {
  background-color: $prosilver-bg-light;
  background-image: linear-gradient(to bottom, $prosilver-bg-light 0%, $prosilver-bg-3 100%);
}

.dropdown .pointer { border-color: $gray-400 transparent; }
.dropdown .pointer-inner { border-color: $white transparent; }
.dropdown-extended .pointer-inner { border-color: $prosilver-bg-light transparent; }

.dropdown .dropdown-contents {
  background: $white;
  border-color: $gray-400;
  box-shadow: 1px 3px 5px rgba($black, 0.2);
}

.dropdown-up .dropdown-contents { box-shadow: 1px 0 5px rgba($black, 0.2); }

.dropdown li,
.dropdown li li {
  border-color: $gray-300;
}

.dropdown li.separator { border-color: $gray-300; }


//
// Notification Colours
//---------------------------------------------------------------------------
.notification_list p.notification-time { color: $prosilver-ui-dark; }

li.notification-reported strong,
li.notification-disapproved strong {
  color: $prosilver-link-hover;
}

.badge {
  background-color: $prosilver-link-hover;
  color: $white;
}


//
// Misc Colours
//---------------------------------------------------------------------------
dl.faq dt { color: $gray-900; }
.copyright { color: $gray-800; }
.error { color: $prosilver-link-hover; }
.reported { background-color: $prosilver-accent-highlight; }
li.reported:hover { background-color: $prosilver-accent-hover !important; }
.sep { color: $prosilver-primary; }
*/
