// Primary Colors
$red-primary:          #60080b !default;
$red-primary-light:    saturate(lighten($red-primary, 25%), 15%);
$red-primary-dark:     saturate(darken($red-primary, 10%), 15%);

// Secondary Colors
$red-secondary:        adjust-hue($red-primary, 10%) !default;
$red-secondary-light:  saturate(lighten($red-secondary, 25%), 15%);
$red-secondary-dark:   saturate(darken($red-secondary, 15%), 15%);

$red-accent:           adjust-hue($red-primary, 145%) !default;

$red-ui:               desaturate(adjust-hue($red-primary, 20%), 65%) !default;
$red-ui-light:         lighten($red-ui, 25%);
$red-ui-dark:          darken($red-ui, 15%);
$red-ui-super-dark:    darken($red-ui, 30%);

// Additioanl UI Vars
$red-links:            desaturate(darken($red-secondary, 20%), 5%) !default;
$red-highlight:        hsl(55, 100%, 90%) !default;
$red-code:             hsl(125, 40%, 50%) !default;

$red-background:       $red-primary !default;
$red-background-0:     desaturate(lighten($red-primary-light, 45%), 55%);
$red-background-light: desaturate($red-background-0, 60%);
$red-background-dark:  desaturate(darken($red-background-0, 14%), 10%);

$red-polls:            $red-accent !default;

// =============================================================================

$red: (
  ///=========== ALL VARS BEYOND HERE ARE BASED ON THE VARS ABOVE ==============

  primary:   $red-primary,
  primary-light: $red-primary-light,
  primary-dark:  $red-primary-dark,

  // UI Colors
  ui-light:      $red-ui-light ,
  ui-dark:       $red-ui-dark,
  ui-super-dark: $red-ui-super-dark,

  // Accent Colors
  accent-light:     saturate(lighten($red-accent, 25%), 15%),
  accent-dark:      saturate(darken($red-accent, 15%), 15%),
  accent-hover:     desaturate(lighten($red-accent, 10%), 45%),
  //col-accent-highlight: lighten($red-accent-hover, 5%),
  accent-highlight: lighten($red-accent, 50%),

  // Background Colors
  bg-1:          lighten($red-background-0, 3%),
  bg-2:          lighten($red-background-0, 5%),
  bg-3:          darken($red-background-0, 5%),
  bg-4:          desaturate($red-background-0, 20%),
  bg-light:      saturate($red-background-0, 60%),
  bg-dark:       desaturate(darken($red-background-0, 14%), 10%),
  bg-dark-hover: lighten($red-background-dark, 5%),
  bg-body:       linear-gradient(to bottom, $red-primary-dark 250px, darken($red-primary, 5%) 60%),
  bg-wrap:       rgba($gray-400, 0.6),

  // Link Colors
  link:                           $red-links,
  link-accent:                    saturate(lighten($red-links, 10%), 15%),
  link-hover:                     darken($red-accent, 5%),
  link-hover-highlight:           lighten($red-accent, 35%),

  link-secondary:                 desaturate(lighten($red-links, 20%), 15%),
  link-secondary-accent:          desaturate(lighten($red-links, 20%), 45%),
  link-secondary-hover:           darken(desaturate(lighten($red-links, 20%), 15%), 25%),
  link-secondary-hover-highlight: desaturate(lighten($red-links, 55%), 35%),

  // Button Colors
  button-border:           $gray-400,
  button-box-shadow:       $white,
  button-text-shadow:      $white,
  button-text:             darken($red-accent, 5%),
  button-background:       $gray-300,
  button-background-light: $white,
  button-icon:             $gray-500,

  button-icon-hover: $red-primary-dark,
  button-border-hover: $red-primary-dark,
  button-text-shadow-hover: rgba(desaturate(darken($red-accent, 5%), 20%), .2),

  button-form-text: $gray-900,
  button-form-border: $gray-700,
  button-form-text-hover: darken($red-accent, 5%),
  button-form-border-hover: darken($red-accent, 5%),
  button-form-input-border-focus: $red-primary-dark,
  button-form-input-text-focus: $red-primary-dark,

  // Tab Colors
  tab-text: $red-ui-dark,
  tab-background: $red-background-dark,

  tab-text-hover: darken($red-accent, 5%),
  tab-background-hover: $red-background-light,

  tab-text-active: $gray-900,
  tab-background-active: darken($red-background-0, 10%),
  tab-border-active: darken($red-background-0, 10%),
  tab-background-active-light: $red-background-light,

  tab-background-mini: darken($red-background-0, 5%),
  tab-text-mini-active: $gray-900,
  tab-background-mini-active: $gray-50,

  // Poll Colors
  poll-bg1: desaturate(darken($red-polls, 10%), 10%),
  poll-bg2: desaturate(darken($red-polls, 5%), 5%),
  poll-bg3: $red-polls,
  poll-bg4: saturate(lighten($red-polls, 5%), 5%),
  poll-bg5: saturate(lighten($red-polls, 10%), 10%),

  poll-border1: desaturate(darken($red-polls, 20%), 10%),
  poll-border2: desaturate(darken($red-polls, 20%), 5%),
  poll-border3: desaturate(darken($red-polls, 20%), 5%),
  poll-border4: desaturate($red-polls, 5%),
  poll-border5: desaturate($red-polls, 5%),

  // Highlight colors
  blockquote: desaturate($red-highlight, 45%),
  blockquote-inner: desaturate($red-highlight, 30%),

  // PM Colors
  pm-reply: desaturate(lighten($red-primary, 20%), 65%),
  pm-friend: desaturate(darken($red-primary, 5%), 45%),
  pm-reported: $red-accent,
  pm-marked: adjust-hue(saturate($red-accent, 15%), -310%),
  pm-foe: $black,

  // Other Unique Colors
  loader-blue: #4285f4,
  loader-red: #de3e35,
  loader-yellow: #f7c223,
  loader-green: #1b9a59,
  online: #85de39,
);
